<div class="file-uploader col-md-12">
    <input #fileInput (change)="fileSelectionChanged($event)" type="file" [id]="fileInputId" [multiple]="config.multiple"
        style="display:none;" [accept]="config.formatsAllowed.join(',')" />
    <label [for]="fileInputId" class="btn btn-primary" [innerHTML]="config.text"></label>
    <button style="margin-left:10px;" (click)="clearButtonClicked()" class="btn btn-info" [innerHTML]="globals.lang.Clear"></button>
    <label style="padding-left: 5px;" class="info-label text-danger" [innerHTML]="status"></label>
    <br>
    <label class="info-label" [innerHTML]="infoText"></label>
    <div class="row nb-theme-default stylish-border stylish-row" *ngFor="let f of filesToUpload">
        <div class="col-md-7">
            <label class="info-label" [innerHTML]="f.fileName"></label>
        </div>
        <div class="col-md-5">
            <nb-progress-bar [value]="f.progressBar.progress" [status]="f.progressBar.status" [displayValue]="f.progressBar.displayValue"></nb-progress-bar>
        </div>
    </div>
</div>