h1 {
  img {
    transform: translateY(-5px);
    margin-left: 15px;
  }
}

p {
  line-height: 30px;
}

.about-row {
  .logo-text {
    margin: 0 auto;
    margin-bottom: 35px;

    span {
      color: #f0655c;
    }
  }
  
  img {
    margin-bottom: 10px;
    width: 64px;
  }
}