
<div class="mainpage clearfix"> 

  <!-- Banner Start -->
  <section class="banner clearfix">
  <div class="container">
    <h1> "Ethereum Trade crypto buy sell BTC and ETH Instant crypto with debit credit card"</h1>
    <div class="bannerb clearfix">
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="buy-txt">Buy AT:<br>
          <span>586,3.5,00</span> BTC <a href="#">
         
            <img src="src/assets/images/buy-icon.png" alt="Buy ">
        
          BUYNOW </a> </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="sell-txt">SELL AT::<br>
          <span>586,3.5,00</span> BTC <a href="#">
      
            <img src="src/assets/images/sell-icon.png" alt="Buy ">
   
          SELLNOW </a> </div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="buysellwrap clearfix">
          <div class="von-form clearfix">
            <div class="von-left">
              <h4>To Sell</h4>
              <input class="form-control" placeholder="25">
            </div>
            <div class="von-right"> <span class=" sell-btn">
              <span class="select-wrapper"><select class="custom-select">
                <option>USD</option>
              </select><span class="holder">USD</span></span>
            </span></div>
          </div>
          <div class="von-form clearfix">
            <div class="von-left">
              <h4>You get in Bitcoins </h4>
              <input class="form-control" placeholder="0.00004023">
            </div>
            <div class="von-right">
              <span class="select-wrapper"><select class="custom-select">
                <option>BTC</option>
              </select><span class="holder">BTC</span></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>
  
  <!-- Wallet Start -->
  <section class="walletwrap clearfix">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="walletbox">
          <h2><img src="src/assets/images/btc-icon.png" alt="BTC"> BTC/ EUR <span>2.45%</span></h2>
          <p><b>0.0017325</b> $ 12.90<br>
            Volume 3,535.58 BTC</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="walletbox">
          <h2><img src="src/assets/images/btc-icon.png" alt="BTC"> BTC/ USD <span>2.45%</span></h2>
          <p><b>0.0017325</b> $ 12.90<br>
            Volume 3,535.58 BTC</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="walletbox1">
          <h2><img src="src/assets/images/eth-icon.png" alt="BTC"> ETH / USD<span>2.45%</span></h2>
          <p><b>0.0017325</b> $ 12.90<br>
            Volume 3,535.58 BTC</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="walletbox1">
          <h2><img src="src/assets/images/eth-icon.png" alt="BTC">ETH / EUR <span>2.45%</span></h2>
          <p><b>0.0017325</b> $ 12.90<br>
            Volume 3,535.58 BTC</p>
        </div>
      </div>
    </div>
  </div>
  </section>
  
  <!-- Services Start -->
  <section class="servicewrap clearfix">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 text-center">
 
          <img src="src/assets/images/support-icon.png" alt="Experts Support">
    
        <h2>Experts Support</h2>
        <p>We target to ensure that your query 
          is answered in best possible way 
          with guidance on Account verification, 
          KYC, Fiat deposits, Security and Trading. </p>
      </div>
      <div class="col-md-4 col-sm-6 text-center">
   
          <img src="src/assets/images/safe-icon.png" alt="Safe &amp; Secure">
     
        <h2>Safe &amp; Secure</h2>
        <p>We follow best industry practices 
          back-end with customized security 
          to protect your coins </p>
      </div>
      <div class="col-md-4 col-sm-6 text-center">
     
          <img src="src/assets/images/instant-icon.png" alt="Safe &amp; Secure">
         
             <h2>FEES</h2>
        <p>Standard Buy / Sell 1.49% <br> Instant Buys (Credit Debit Card only); 3.75% <br>Bank transfers (SEPA, USD In ternation wire) - in / out* 10â‚¬</p>
      </div>
      <div class="col-md-4 col-sm-6 text-center">

          <img src="src/assets/images/wallet-icon.png" alt="Safe &amp; Secure">
  
        <h2>Advanced Ordering</h2>
        <p>Order limit and stop loss to 
          automate your strategy and minimize 
          the trading risk </p>
      </div>
      <div class="col-md-4 col-sm-6 text-center">
    
          <img src="src/assets/images/buye-icon.png" alt="Safe &amp; Secure">
     
        <h2>Reliability</h2>
        <p>Reliable service with 24x7 <br>
          support via email</p>
      </div>
      <div class="col-md-4 col-sm-6 text-center">
  
          <img src="src/assets/images/trading-icon.png" alt="Safe &amp; Secure">
  
        <h2>Offline Storage</h2>
        <p>Majority of the digital assets are storted 
          offline to prevent hackers attacks </p>
      </div>
    </div>
  </div>
  </section>
  
  <!-- How it Work Start -->
  <section class="howitwork clearfix">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3">
        <div class="howbox clearfix">
          <div class="arrow-how"><img src="src/assets/images/arrow-how.png" class="img-responsive" alt="How"></div>
     
            <img src="src/assets/images/reg-icon.png" alt="Register">
        
          <h3>
            <div>1</div>
            Register</h3>
          <p>Registration is easy and will help you keep track of your assets</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3">
        <div class="howbox clearfix">
          <div class="arrow-how"><img src="src/assets/images/arrow-how.png" class="img-responsive" alt="How"></div>
       
            <img src="src/assets/images/kyc-icon.png" alt="Get KYC verified">
       
          <h3>
            <div>2</div>
            Get KYC verified</h3>
          <p>As per regulatoring requiments, we will only allow customers that
            have passed our KYC criteria.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3">
        <div class="howbox clearfix">
          <div class="arrow-how"><img src="src/assets/images/arrow-how.png" class="img-responsive" alt="How"></div>
               
            <img src="src/assets/images/deposit-icon.png" alt="Register">
       
          <h3>
            <div>3</div>
            Make fiat deposit or Register debit/credit card</h3>
          <p>Buy instantly with debit/credit card or deposit Euro/USD to
            convert to crypto.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3">
        <div class="howbox clearfix">
        
            <img src="src/assets/images/start-buy-icon.png" alt="Register">
         
          <h3>
            <div>4</div>
            Start buying</h3>
          <p>Start trading. Or be a long-term hodler.</p>
        </div>
      </div>
    </div>
  </div>
  </section>
  
  <!-- Trading Start -->
  <section class="tradingwrap clearfix">
  <div class="container">
    <ul class="nav nav-tabs">
      <li><a data-toggle="tab" href="#star-tab"><img src="src/assets/images/star-icon.png" alt="star"></a></li>
      <li class="active"><a data-toggle="tab" href="#usd-tab"><img src="src/assets/images/usd-icon.png" alt="usd"><br>
        USD</a></li>
      <li><a data-toggle="tab" href="#eur-tab"><img src="src/assets/images/eur-icon.png" alt="EUR "><br>
        EUR</a></li>
      <li><a data-toggle="tab" href="#btc-tab"><img src="src/assets/images/btc-icon.png" alt="BTC"><br>
        BTC</a></li>
      <li><a data-toggle="tab" href="#eth-tab"><img src="src/assets/images/eth-icon.png" alt="ETH"><br>
        ETH</a></li>
    </ul>
    <div class="tab-content">
      <div id="star-tab" class="tab-pane fade">
    
          <img src="src/assets/images/graph.png" class="img-responsive" alt="Graph">
    
      </div>
      <div id="eur-tab" class="tab-pane fade in active">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-responsive">
          <tbody><tr>
            <td align="center" valign="middle" class="table-head">Symbol <img src="src/assets/images/table-arrow.png" alt="arrow"></td>
            <td align="center" valign="middle" class="table-head">Last Price <img src="src/assets/images/table-arrow.png" alt="arrow"></td>
            <td align="center" valign="middle" class="table-head">24Hchange <img src="src/assets/images/table-arrow.png" alt="arrow"></td>
            <td align="center" valign="middle" class="table-head">24H Hig <img src="src/assets/images/table-arrow.png" alt="arrow"></td>
            <td align="center" valign="middle" class="table-head">24H low <img src="src/assets/images/table-arrow.png" alt="arrow"></td>
            <td align="center" valign="middle" class="table-head">24H low <img src="src/assets/images/table-arrow.png" alt="arrow"></td>
          </tr>
          <tr>
            <td align="center" valign="middle" class="white-txt"><i class="fa fa-star" aria-hidden="true"></i> BTCUSD</td>
            <td align="center" valign="middle" class="white-txt">7,486.2</td>
            <td align="center" valign="middle" class="green-txt">-1.5%</td>
            <td align="center" valign="middle" class="white-txt">7,599.7</td>
            <td align="center" valign="middle" class="white-txt">7,413.8</td>
            <td align="center" valign="middle" class="white-txt">135,942,900 USD</td>
          </tr>
          <tr>
            <td align="center" valign="middle" class="white-txt"><i class="fa fa-star" aria-hidden="true"></i> BTCUSD</td>
            <td align="center" valign="middle" class="white-txt">988.82</td>
            <td align="center" valign="middle" class="green-txt">-3.6%</td>
            <td align="center" valign="middle" class="white-txt">1,030.0</td>
            <td align="center" valign="middle" class="white-txt">982.24 </td>
            <td align="center" valign="middle" class="white-txt">24,967,202 USD</td>
          </tr>
          <tr>
            <td align="center" valign="middle" class="white-txt"><i class="fa fa-star" aria-hidden="true"></i> BTCUSD</td>
            <td align="center" valign="middle" class="white-txt">7,486.2</td>
            <td align="center" valign="middle" class="green-txt">-1.5%</td>
            <td align="center" valign="middle" class="white-txt">7,599.7</td>
            <td align="center" valign="middle" class="white-txt">7,413.8</td>
            <td align="center" valign="middle" class="white-txt">135,942,900 USD</td>
          </tr>
          <tr>
            <td align="center" valign="middle" class="white-txt"><i class="fa fa-star" aria-hidden="true"></i> BTCUSD</td>
            <td align="center" valign="middle" class="white-txt">988.82</td>
            <td align="center" valign="middle" class="green-txt">-3.6%</td>
            <td align="center" valign="middle" class="white-txt">1,030.0</td>
            <td align="center" valign="middle" class="white-txt">982.24 </td>
            <td align="center" valign="middle" class="white-txt">24,967,202 USD</td>
          </tr>
          <tr>
            <td align="center" valign="middle" class="white-txt"><i class="fa fa-star" aria-hidden="true"></i> BTCUSD</td>
            <td align="center" valign="middle" class="white-txt">7,486.2</td>
            <td align="center" valign="middle" class="green-txt">-1.5%</td>
            <td align="center" valign="middle" class="white-txt">7,599.7</td>
            <td align="center" valign="middle" class="white-txt">7,413.8</td>
            <td align="center" valign="middle" class="white-txt">135,942,900 USD</td>
          </tr>
          <tr>
            <td align="center" valign="middle" class="white-txt"><i class="fa fa-star" aria-hidden="true"></i> BTCUSD</td>
            <td align="center" valign="middle" class="white-txt">988.82</td>
            <td align="center" valign="middle" class="green-txt">-3.6%</td>
            <td align="center" valign="middle" class="white-txt">1,030.0</td>
            <td align="center" valign="middle" class="white-txt">982.24 </td>
            <td align="center" valign="middle" class="white-txt">24,967,202 USD</td>
          </tr>
          <tr>
            <td align="center" valign="middle" class="white-txt"><i class="fa fa-star" aria-hidden="true"></i> BTCUSD</td>
            <td align="center" valign="middle" class="white-txt">7,486.2</td>
            <td align="center" valign="middle" class="green-txt">-1.5%</td>
            <td align="center" valign="middle" class="white-txt">7,599.7</td>
            <td align="center" valign="middle" class="white-txt">7,413.8</td>
            <td align="center" valign="middle" class="white-txt">135,942,900 USD</td>
          </tr>
          <tr>
            <td align="center" valign="middle" class="white-txt"><i class="fa fa-star" aria-hidden="true"></i> BTCUSD</td>
            <td align="center" valign="middle" class="white-txt">988.82</td>
            <td align="center" valign="middle" class="green-txt">-3.6%</td>
            <td align="center" valign="middle" class="white-txt">1,030.0</td>
            <td align="center" valign="middle" class="white-txt">982.24 </td>
            <td align="center" valign="middle" class="white-txt">24,967,202 USD</td>
          </tr>
          <tr>
            <td align="center" valign="middle" class="white-txt"><i class="fa fa-star" aria-hidden="true"></i> BTCUSD</td>
            <td align="center" valign="middle" class="white-txt">7,486.2</td>
            <td align="center" valign="middle" class="green-txt">-1.5%</td>
            <td align="center" valign="middle" class="white-txt">7,599.7</td>
            <td align="center" valign="middle" class="white-txt">7,413.8</td>
            <td align="center" valign="middle" class="white-txt">135,942,900 USD</td>
          </tr>
          <tr>
            <td align="center" valign="middle" class="white-txt"><i class="fa fa-star" aria-hidden="true"></i> BTCUSD</td>
            <td align="center" valign="middle" class="white-txt">988.82</td>
            <td align="center" valign="middle" class="green-txt">-3.6%</td>
            <td align="center" valign="middle" class="white-txt">1,030.0</td>
            <td align="center" valign="middle" class="white-txt">982.24 </td>
            <td align="center" valign="middle" class="white-txt">24,967,202 USD</td>
          </tr>
          <tr>
            <td align="center" valign="middle" class="white-txt"><i class="fa fa-star" aria-hidden="true"></i> BTCUSD</td>
            <td align="center" valign="middle" class="white-txt">7,486.2</td>
            <td align="center" valign="middle" class="green-txt">-1.5%</td>
            <td align="center" valign="middle" class="white-txt">7,599.7</td>
            <td align="center" valign="middle" class="white-txt">7,413.8</td>
            <td align="center" valign="middle" class="white-txt">135,942,900 USD</td>
          </tr>
          <tr>
            <td align="center" valign="middle" class="white-txt"><i class="fa fa-star" aria-hidden="true"></i> BTCUSD</td>
            <td align="center" valign="middle" class="white-txt">988.82</td>
            <td align="center" valign="middle" class="green-txt">-3.6%</td>
            <td align="center" valign="middle" class="white-txt">1,030.0</td>
            <td align="center" valign="middle" class="white-txt">982.24 </td>
            <td align="center" valign="middle" class="white-txt">24,967,202 USD</td>
          </tr>
        </tbody></table>
      </div>
    </div>
    <div class="text-center trading-box"> <a href="#">Start Trading Now</a> </div>
  </div>
  </section>
  
  <!-- Track this Exchange Rate Start -->
  <section class="trackratewrap clearfix">
  <div class="container">
    <ul class="nav nav-tabs">
      <li><a data-toggle="tab" href="#home">Day <i></i></a></li>
      <li><a data-toggle="tab" href="#menu1">Week <i></i></a></li>
      <li class="active"><a data-toggle="tab" href="#menu2">Month <i></i></a></li>
    </ul>
    <div class="tab-content">
      <div id="home" class="tab-pane fade">
  
          <img src="src/assets/images/graph.png" class="img-responsive" alt="Graph">
     
      </div>
      <div id="menu1" class="tab-pane fade">
        <p>Some content in menu 1.</p>
      </div>
      <div id="menu2" class="tab-pane fade in active">
       
          <img src="src/assets/images/graph.png" class="img-responsive" alt="Graph">
       
        <div class="text-center"> <a href="#" class="track-btn">Track this Exchange Rate</a> </div>
      </div>
    </div>
  </div>
  </section>
  
  <!-- World Start -->
  <section class="worldwrap clearfix">
  <div class="container">
    <h2>Covering major Eurpeon countries and US</h2>
    <div class="world-txt text-center">We offer easy and simple steps to buy crypto taking hassle away from our clients 
      letting them focus on things that actually matter the cryptocurrency marketcap is always 
      increasing and is expected to reach multi trillion dollar industry </div>
  </div>
  <div class="container-fluid"><img src="src/assets/images/world-map.png" class="img-responsive" alt="World Map"> </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Part Buying</h3>
        <p>Schedule weekly or monthly direct debits from your account for buying cryptocurrency in parts.</p>
         </div>
      <div class="col-sm-4">
        <h3>Support</h3>
        <p>We target to ensure that your query is answered in best possible way with guidance on Account verification, KYC, Fiat deposits, Security and Trading</p>
         </div>
      <div class="col-sm-4">
        <h3>API</h3>
        <p>Our restful APIs will be available soon for integration.</p>
         </div>
    </div>
  </div>
  </section>
  
  <!-- Footer Start -->
  <footer>
  <div class="footer clearfix">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-xs-6">
          <h2>FEATURES</h2>
          <ul>
            <li><a href="#">Trading</a></li>
            <li><a href="#">Funding</a></li>
            <li><a href="#">Deposit</a></li>
            <li><a href="#">Withdraw</a></li>
            <li><a href="#">Manage Wallets</a></li>
          </ul>
        </div>
        <div class="col-sm-3 col-xs-6">
          <h2>EXPLORE</h2>
          <ul>
            <li><a href="#">Market Statistics</a></li>
            <li><a href="#">Security</a></li>
            <li><a href="#">How it works</a></li>
            <li><a href="#">Our fees</a></li>
            <li><a href="#">About Page</a></li>
          </ul>
        </div>
        <div class="col-sm-3 col-xs-6">
          <h2>SUPPORT</h2>
          <ul>
            <li><a href="#">Support Center </a></li>
            <li><a href="#">Knowledge Base</a></li>
          </ul>
        </div>
        <div class="col-sm-3 social col-xs-6">
          <h2>Social</h2>
          <ul>
            <li><a href="#" class="fb"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#" class="tw"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          </ul>
          <p><img src="src/assets/images/footer-logo.png" class="img-responsive" alt="BitVelocity"></p>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright clearfix">
    <div class="container">Â© BITVELOCITY.IO 2018  Legal  privacy policy </div>
  </div>
  </footer>
  </div>
