.placeholder-card {
  height: 30vh;
  margin-bottom: 200px;

  @media screen and (max-width: 1200px) {
    margin-bottom: 420px;
  }

  @media screen and (max-width: 900px) {
    margin-bottom: 300px;
  }

  @media screen and (max-width: 600px) {
    margin-bottom: 150px;
  }
}

.sto-row {
  margin: 40px 0px;

  img {
    margin-bottom: 10px;
    width: 64px;
  }
}

.usecase {
  display: flex;
  justify-content: center;
}

.line-container {

  display: flex;
  justify-content: center;
  height: 10px;

  .line-svg {
    height: 100px;
    width: 50px;
    transform: translate(26px, -72px);


    line {
      stroke: #028ddc;
      stroke-width: 3px;
      stroke-linecap: round;
      // include a stroke-dasharray depicting small dots separated by considerable space
      stroke-dasharray: 2px 20px;
      // animate the stroke-dashoffset property to move the dotted line downward
      animation: animateline 5s linear both infinite;
    }
  }
}

@keyframes animateline {
  from {
    stroke-dashoffset: 0;
  }

  to {
    stroke-dashoffset: -5rem;
  }
}