<div class="mainpage clearfix">
    <!-- Trading Start -->
    <section class="tradingwrap  dashboad clearfix">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-7 col-md-offset-5"> </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <app-trade-order
                    [currencyPair]="selectedCurrencyPair">
                    </app-trade-order>
                    <order-history-order
                    [currencyPair]="selectedCurrencyPair"></order-history-order>
                    <div class="cryptosocialnetworking clearfix">
                        <h3>Crypto Social Networking</h3>
                        <div class="socialnetworkbox clearfix"> </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="price-show-box clearfix">
                        <span class="last_price">
                            <strong>Last Price</strong><br><i>0.00004122</i>
                        </span>
                        <span class="last_price">
                            <strong>24 CHANGE</strong><br><i>0.00004122</i>
                        </span>
                        <span class="last_price">
                            <strong>24 HIGH</strong><br><i>0.00004122</i>
                        </span>
                        <span class="last_price"><strong>24 H LOW</strong><br><i>0.00004122</i></span>
                        <span class="last_price"><strong>24 H VOLUME</strong><br><i>0.00004122</i></span>
                        <span class="last_price brdroup">
                            <ul>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{selectedCurrencyPair.fc_name}} <b>{{selectedCurrencyPair.tc_name}}</b>
                                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                                    </a>
                                    <ul class="dropdown-menu mymenu">
                                        <li *ngFor="let cp of currencyPairs;" (click)="setSelectedCurrencyPair(cp.id)">
                                            <a>{{cp.fc_name}} <b>{{cp.tc_name}}</b></a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </span> </div>
                    <ul class="nav nav-tabs timebox">
                        <li class="active"><a data-toggle="tab" href="#star">Time</a></li>
                        <li><a data-toggle="tab" href="#Monthly">Monthly</a></li>
                        <li><a data-toggle="tab" href="#Hourly">Hourly</a></li>
                        <li><a data-toggle="tab" href="#Daily">Daily</a></li>
                        <li><a data-toggle="tab" href="#Weekly">Weekly</a></li>
                        <li><a data-toggle="tab" href="#Yearly">Yearly</a></li>
                        <li><a data-toggle="tab" href="#tools">Tools</a></li>
                        <li><a data-toggle="tab" href="#ind">Indicator</a></li>
                        <li><a data-toggle="tab" href="#masd"> MACD</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="star" class="tab-pane fade in active"> <img src="src/assets/images/imgtab.png" alt="">
                        </div>
                        <div id="Monthly" class="tab-pane fade"> <img src="src/assets/images/imgtab.png" alt=""> </div>
                        <div id="Hourly" class="tab-pane fade"> <img src="src/assets/images/imgtab.png" alt=""> </div>
                        <div id="Daily" class="tab-pane fade"> <img src="src/assets/images/imgtab.png" alt=""> </div>
                        <div id="Weekly" class="tab-pane fade"> <img src="src/assets/images/imgtab.png" alt=""> </div>
                        <div id="Yearly" class="tab-pane fade"> <img src="src/assets/images/imgtab.png" alt=""> </div>
                        <div id="Tools" class="tab-pane fade"> <img src="src/assets/images/imgtab.png" alt=""> </div>
                        <div id="ind" class="tab-pane fade"> <img src="src/assets/images/imgtab.png" alt=""> </div>
                        <div id="masd" class="tab-pane fade"> <img src="src/assets/images/imgtab.png" alt=""> </div>
                    </div>
                    <div class="row bglight">
                        <div class="col-md-6">
                            <div class="groups_table">
                                <div class="bartag ">
                                    <div class="tophas">
                                        <label>groups</label>
                                        <select name="">
                                            <option>8 decimals</option>
                                        </select>
                                    </div>
                                </div>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-responsive">
                                    <tr>
                                        <th align="center" valign="middle" class="white-txt"> Price (BTC) </th>
                                        <th align="center" valign="middle" class="white-txt">Amount (APPC)</th>
                                        <th align="center" valign="middle" class="white-txt">Total (BTC)</th>
                                    </tr>
                                    <tr>
                                        <td align="center" valign="middle">0.000004204</td>
                                        <td align="center" valign="middle"> 59</td>
                                        <td align="center" valign="middle">0.00248036</td>
                                    </tr>
                                    <tr>
                                        <td align="center" valign="middle">0.000004204</td>
                                        <td align="center" valign="middle"> 59</td>
                                        <td align="center" valign="middle">0.00248036</td>
                                    <tr>
                                        <td align="center" valign="middle">0.000004204</td>
                                        <td align="center" valign="middle"> 59</td>
                                        <td align="center" valign="middle">0.00248036</td>
                                    </tr>
                                    <tr>
                                        <td align="center" valign="middle">0.000004204</td>
                                        <td align="center" valign="middle"> 59</td>
                                        <td align="center" valign="middle">0.00248036</td>
                                    </tr>
                                    <tr>
                                        <td align="center" valign="middle">0.000004204</td>
                                        <td align="center" valign="middle"> 59</td>
                                        <td align="center" valign="middle">0.00248036</td>
                                    <tr>
                                        <td align="center" valign="middle">0.000004204</td>
                                        <td align="center" valign="middle"> 59</td>
                                        <td align="center" valign="middle">0.00248036</td>
                                    </tr>
                                    <tr>
                                        <td align="center" valign="middle">0.000004204</td>
                                        <td align="center" valign="middle"> 59</td>
                                        <td align="center" valign="middle">0.00248036</td>
                                    </tr>
                                </table>
                                <div class="bartag"><span>0.00004122</span><span>$0.32 </span><span><img src="src/assets/images/bar.png"
                                            width="18" height="24" alt=""></span></div>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-responsive">
                                    <tr>
                                        <td align="center" valign="middle">0.000004204</td>
                                        <td align="center" valign="middle"> 59</td>
                                        <td align="center" valign="middle">0.00248036</td>
                                    </tr>
                                    <tr>
                                        <td align="center" valign="middle">0.000004204</td>
                                        <td align="center" valign="middle"> 59</td>
                                        <td align="center" valign="middle">0.00248036</td>
                                    <tr>
                                        <td align="center" valign="middle">0.000004204</td>
                                        <td align="center" valign="middle"> 59</td>
                                        <td align="center" valign="middle">0.00248036</td>
                                    </tr>
                                    <tr>
                                        <td align="center" valign="middle">0.000004204</td>
                                        <td align="center" valign="middle"> 59</td>
                                        <td align="center" valign="middle">0.00248036</td>
                                    </tr>
                                    <tr>
                                        <td align="center" valign="middle">0.000004204</td>
                                        <td align="center" valign="middle"> 59</td>
                                        <td align="center" valign="middle">0.00248036</td>
                                    <tr>
                                        <td align="center" valign="middle">0.000004204</td>
                                        <td align="center" valign="middle"> 59</td>
                                        <td align="center" valign="middle">0.00248036</td>
                                    </tr>
                                    <tr>
                                        <td align="center" valign="middle">0.000004204</td>
                                        <td align="center" valign="middle"> 59</td>
                                        <td align="center" valign="middle">0.00248036</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="groups_table">
                                <div class="bartag ">
                                    <div class="tophas">
                                        <label>groups</label>
                                        <select name="">
                                            <option>8 decimals</option>
                                        </select>
                                    </div>
                                </div>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-responsive">
                                    <tr>
                                        <th align="center" valign="middle" class="white-txt"> Price (BTC) </th>
                                        <th align="center" valign="middle" class="white-txt">Amount (APPC)</th>
                                        <th align="center" valign="middle" class="white-txt">Total (BTC)</th>
                                    </tr>
                                    <tr>
                                        <td align="center" valign="middle">0.000004204</td>
                                        <td align="center" valign="middle"> 59</td>
                                        <td align="center" valign="middle">0.00248036</td>
                                    </tr>
                                    <tr>
                                        <td align="center" valign="middle">0.000004204</td>
                                        <td align="center" valign="middle"> 59</td>
                                        <td align="center" valign="middle">0.00248036</td>
                                    <tr>
                                        <td align="center" valign="middle">0.000004204</td>
                                        <td align="center" valign="middle"> 59</td>
                                        <td align="center" valign="middle">0.00248036</td>
                                    </tr>
                                    <tr>
                                        <td align="center" valign="middle">0.000004204</td>
                                        <td align="center" valign="middle"> 59</td>
                                        <td align="center" valign="middle">0.00248036</td>
                                    </tr>
                                    <tr>
                                        <td align="center" valign="middle">0.000004204</td>
                                        <td align="center" valign="middle"> 59</td>
                                        <td align="center" valign="middle">0.00248036</td>
                                    <tr>
                                        <td align="center" valign="middle">0.000004204</td>
                                        <td align="center" valign="middle"> 59</td>
                                        <td align="center" valign="middle">0.00248036</td>
                                    </tr>
                                    <tr>
                                        <td align="center" valign="middle">0.000004204</td>
                                        <td align="center" valign="middle"> 59</td>
                                        <td align="center" valign="middle">0.00248036</td>
                                    </tr>
                                </table>
                                <div class="bartag brpa"><b>0.00004122 $0.32</b> </div>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-responsive">
                                    <tr>
                                        <td align="center" valign="middle">0.000004204</td>
                                        <td align="center" valign="middle"> 59</td>
                                        <td align="center" valign="middle">0.00248036</td>
                                    </tr>
                                    <tr>
                                        <td align="center" valign="middle">0.000004204</td>
                                        <td align="center" valign="middle"> 59</td>
                                        <td align="center" valign="middle">0.00248036</td>
                                    <tr>
                                        <td align="center" valign="middle">0.000004204</td>
                                        <td align="center" valign="middle"> 59</td>
                                        <td align="center" valign="middle">0.00248036</td>
                                    </tr>
                                    <tr>
                                        <td align="center" valign="middle">0.000004204</td>
                                        <td align="center" valign="middle"> 59</td>
                                        <td align="center" valign="middle">0.00248036</td>
                                    </tr>
                                    <tr>
                                        <td align="center" valign="middle">0.000004204</td>
                                        <td align="center" valign="middle"> 59</td>
                                        <td align="center" valign="middle">0.00248036</td>
                                    <tr>
                                        <td align="center" valign="middle">0.000004204</td>
                                        <td align="center" valign="middle"> 59</td>
                                        <td align="center" valign="middle">0.00248036</td>
                                    </tr>
                                    <tr>
                                        <td align="center" valign="middle">0.000004204</td>
                                        <td align="center" valign="middle"> 59</td>
                                        <td align="center" valign="middle">0.00248036</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>