<div class="mainpage clearfix">
  <!-- ContactUs Start -->
  <section class="signupwrap clearfix">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-12 ">
          <p class="h3">Contact Us</p>
          <form [formGroup]="contactUsForm" (ngSubmit)="onSubmit()">
            <div class="signupbox clearfix">
              <div class="tab-content">
                <div id="Individual" class="tab-pane fade in active">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <input class="form-control" placeholder="{{lang.Name}}" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                          <div *ngIf="f.name.errors.required" [innerHtml]="errors.nameRequried"></div>
                          <div *ngIf="f.name.errors.maxlength" [innerHtml]="errors.nameMaxLength"></div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="form-group">
                        <input class="form-control" placeholder="{{lang.ContactNo}}" formControlName="contact_no"
                          [ngClass]="{ 'is-invalid': submitted && f.contact_no.errors }" />
                        <div *ngIf="submitted && f.contact_no.errors" class="invalid-feedback">
                          <div *ngIf="f.contact_no.errors.required" [innerHtml]="errors.contactNoRequired"></div>
                          <div *ngIf="f.contact_no.errors.maxlength" [innerHtml]="errors.contactNoMaxLength"></div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="form-group">
                        <input class="form-control" (keyup)="onEmailKeyUp($event)" placeholder="{{lang.Email}}"
                          formControlName="email" [ngClass]="{ 'is-invalid': (submitted && f.email.errors) || invalidEmail }">
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                          <div *ngIf="f.email.errors.required" [innerHtml]="errors.emailRequried"></div>
                          <div *ngIf="f.email.errors.maxlength" [innerHtml]="errors.emailMaxLength"></div>
                        </div>
                        <div *ngIf="submitted && (invalidEmail || f.email.errors)" class="invalid-feedback">
                          <div *ngIf="!f.email.errors; else autoEmailInvalid" [innerHtml]="errors.emailInvalid"></div>
                          <ng-template #autoEmailInvalid>
                            <div *ngIf="f.email.errors.email" [innerHtml]="errors.emailInvalid"></div>
                          </ng-template>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="form-group">
                        <textarea class="form-control" formControlName="message" style="height: auto !important;" rows="4"
                          placeholder="{{lang.Message}}" [ngClass]="{ 'is-invalid': submitted && f.message.errors }"></textarea>
                        <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
                          <div *ngIf="f.message.errors.required" [innerHtml]="errors.messageRequried"></div>
                          <div *ngIf="f.message.errors.minlength" [innerHtml]="errors.messageRange"></div>
                          <div *ngIf="f.message.errors.maxlength" [innerHtml]="errors.messageRange"></div>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="col-sm-12">
                      <div class="form-group">
                        <re-captcha 
                        class="no-form-control" 
                        formControlName="contactus_capitcha" 
                        (scriptLoad)="onScriptLoad()" 
                        (scriptError)="onScriptError()"
                        [ngClass]="{ 'is-invalid': submitted && f.contactus_capitcha.status != 'VALID' }">
                        </re-captcha>
                        <div *ngIf="submitted && f.contactus_capitcha.status != 'VALID'" class="invalid-feedback">
                          <div [innerHtml]="errors.capitchaErrorMessage"></div>
                        </div>
                      </div>
                    </div> -->
                    <div class="col-sm-12 form-group">
                      <button class="btn-primary signup-btn " [disabled]="diableSubmitButton" name="btn-submit"
                        [innerHtml]="lang.Submit"></button>
                    </div>
                    <div class="col-sm-12">
                      <strong>
                        <div class="{{submitRequestResposneClass}} text-bold" *ngIf="showsubmitResponse" [innerHtml]="submitResponseMessage"></div>
                      </strong>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
<script>


</script>