<div class="main" id="body-top">
        <div class="slider-headersec">
          <header>
            <div class="container-fluid">
              <div class="logo-left"><a href="#"><img src="assets/images/logo-consulting.png" alt=""></a></div>
              <div class="pull-right comp-adress">
                <div class="cladre-con"> <span><img src="assets/images/cal-1.png" alt=""> UK Office :  +44 203 620 7120</span> <span><img src="assets/images/cal-2.png" alt=""> + 44 79 15 220 209</span> </div>
                <a href="#">Free Initial Consultation</a> </div>
            </div>
          </header>
          <div class="slider-image">
            <div class="head-conts">
              <p>Are you looking for a reliable, experienced <br>
                solution provider that can deliver your project in time ?</p>
              <ul>
                <li> 100% TRANSPARENCY</li>
                <li><img src="assets/images/header-ofer-1.png" alt=""> QUALITY DELIVERABLES</li>
                <li><img src="assets/images/header-ofer-2.png" alt=""> FLEXIBLE ENGAGEMENT MODELS</li>
                <li><img src="assets/images/header-ofer-3.png" alt=""> SKILLED TEAM</li>
              </ul>
              <a href="#cost-info" class="ta-tour">Talk to our Experts</a> </div>
            <div class="sldi-image-fs" style="background-image:url(assets/images/slider-1.jpg)"></div>
          </div>
        </div>
        <div class="lower-secn">
          <section class="about-sec">
            <div class="container">
              <div class="hea-sec">
                <h5 class="head-sec">Meet Founder and CEO : <b>Fahad Sheikh</b></h5>
                <p>Serial Enterpreneur  and technology evangelist specialized in Real-time applications, <Br>
                  blockchain, C++, Linux, node.js</p>
              </div>
              <div class="vide-sec">
                <center>
                  <video width="900" controls>
        <source src="assets/images/FahadSheikh.mp4" type="video/mp4">
        <source src="assets/images/FahadSheikh.ogg" type="video/ogg"> 
      </video>
                </center>
                <p>Innovate solutions using technology that can solve real  world problems for humans </p>
                <ul>
                  <li>
                    <center>
                      15 <i>+ years </i>
                    </center>
                    <i>Highly Experienced </i> </li>
                  <li>
                    <center>
                      <img src="assets/images/check-black.png" alt="">
                    </center>
                    <i>Reliable & Trustable </i> </li>
                  <li>
                    <center>
                      3+
                    </center>
                    <i> Successful cooperation</i> </li>
                </ul>
              </div>
            </div>
          </section>
          <section class="how-ti-work-sec">
            <div class="container">
              <h5 class="head-sec">how it works</h5>
              <ul>
                <li class="work-sec">
                  <center>
                    1
                  </center>
                  <b>Talk to one of our <Br>
                  industry experts.</b>
                  <p>A Velocity  director  of engineering will <Br>
                    then asses the workload and select <Br>
                    suitable resource for the project. </p>
                </li>
                <li class="work-sec">
                  <center>
                    2
                  </center>
                  <b>Allocate suitable resource</b>
                  <p>We will then asses the workload and select <Br>
                    suitable resource for the project. </p>
                </li>
                <li class="work-sec">
                  <center>
                    3
                  </center>
                  <b>Ensuring prompt delivery</b>
                  <p>Development starts under internal Scrum <Br>
                    Master and partners are updated weekly <Br>
                    on progress</p>
                </li>
              </ul>
            </div>
          </section>
          <section class="servide-sec">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-6">
                  <div class="serv-img" style="background-image:url(assets/images/services-image.jpg);"> <b>Services we deliver</b>
                    <p>AT Velocity solutions we are  passionate about build new generation applications using technology.  Since we are building solutions that will solve real-world problem, we are also interested to help organizations working in the same industry would love to be part of projects.</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div id="f1_container">
                    <div id="f1_card" class="shadow">
                      <div class="front face">
                        <center>
                          <img src="assets/images/servid-1.png" alt="">
                        </center>
                        <b>Technical COnsulting</b> <span> <i>ANGULAR JS</i> | <i>NODE JS</i> | <i>MEAN STACK</i> | <i>REACT NATIVE</i> | </span> </div>
                      <div class="back face center">
                        <div class="flip-text"> <b>Technical Consulting</b>
                          <p> Our inhouse quality control analysts ensure that product only goes live in production once it passes all stress testing techniques minimizing last minute production fixes</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="f1_container">
                    <div id="f1_card" class="shadow">
                      <div class="front face">
                        <center>
                          <img src="assets/images/servid-2.png" alt="">
                        </center>
                        <b>Product Development</b> <span> <i>BitVelocity</i> | <i>Blockchain for Travel</i> | <Br>
                        <i>Blockchain for real estate</i> | <Br>
                        <i>Cloud gaming</i> | <i>Cloud virtualisation</i> </span> </div>
                      <div class="back face center">
                        <div class="flip-text"> <b>Product Development </b>
                          <p>We have helped our clients improve their existing product ensuring reliability and capability.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="f1_container">
                    <div id="f1_card" class="shadow">
                      <div class="front face">
                        <center>
                          <img src="assets/images/servid-3.png" alt="">
                        </center>
                        <b>UI & UX</b> <span> <i>HTML5</i> I <i>CSS</i> I <i>React.JS</i> I <i>Angular.JS</i> </span> </div>
                      <div class="back face center">
                        <div class="flip-text"> <b>UI & UX</b>
                          <p> Our inhouse quality control analysts ensure that product only goes live in production once it passes all stress testing techniques minimizing last minute production fixes</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="f1_container">
                    <div id="f1_card" class="shadow">
                      <div class="front face">
                        <center>
                          <img src="assets/images/servid-4.png" alt="">
                        </center>
                        <b>Quality Assurance</b> <span> <i>Unit Testing</i> | <i>Regression Testing</i> | <i>Automate testing</i> | </span> </div>
                      <div class="back face center">
                        <div class="flip-text"> <b>Quality Assurance</b>
                          <p> Our inhouse quality control analysts ensure that product only goes live in production once it passes all stress testing techniques minimizing last minute production fixes</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="working-tech-sec">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <h5 class="head-sec">Our Dedicated Team Specialize in following technologies</h5>
                  <ul>
                    <li>
                      <center>
                        <img src="assets/images/work-1.png" alt="">
                      </center>
                      <i>Node.js</i> </li>
                    <li>
                      <center>
                        <img src="assets/images/work-2.png" alt="">
                      </center>
                      <i>Angular.js</i> </li>
                    <li>
                      <center>
                        <img src="assets/images/work-3.png" alt="">
                      </center>
                      <i>React.js</i> </li>
                    <li>
                      <center>
                        <img src="assets/images/work-4.png" alt="">
                      </center>
                      <i>C++/ Linux</i> </li>
                    <li>
                      <center>
                        <img src="assets/images/work-5.png" alt="">
                      </center>
                      <i>AWS</i> </li>
                    <li>
                      <center>
                        <img src="assets/images/work-6.png" alt="">
                      </center>
                      <i>EC2 Console</i> </li>
                    <li>
                      <center>
                        <img src="assets/images/work-7.png" alt="">
                      </center>
                      <i>ERC20 tokens</i> </li>
                    <li>
                      <center>
                        <img src="assets/images/work-8.png" alt="">
                      </center>
                      <i>Decentralised Apps</i> </li>
                    <li>
                      <center>
                        <img src="assets/images/work-9.png" alt="">
                      </center>
                      <i>HTML5/CSS</i> </li>
                    <li>
                      <center>
                        <img src="assets/images/work-10.png" alt="">
                      </center>
                      <i>Xen Server</i> </li>
                    <li>
                      <center>
                        <img src="assets/images/work-11.png" alt="">
                      </center>
                      <i>Cloud Virtualization</i> </li>
                    <li>
                      <center>
                        <img src="assets/images/work-12.png" alt="">
                      </center>
                      <i>Real Time 
                      Applications</i> </li>
                    <li>
                      <center>
                        <img src="assets/images/work-13.png" alt="">
                      </center>
                      <i>Java</i> </li>
                    <li>
                      <center>
                        <img src="assets/images/work-14.png" alt="">
                      </center>
                      <i>Apache Tomcat</i> </li>
                    <li>
                      <center>
                        <img src="assets/images/work-15.png" alt="">
                      </center>
                      <i>Blockchain</i> </li>
                  </ul>
                </div>
              </div>
            </div>
          </section>
          <section class="exper-sec">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <ul>
                    <li>
                      <center>
                        15<em>+</em>
                      </center>
                      <i>YEARS EXPERIENCE</i> </li>
                    <li>
                      <center>
                        20<em>+</em>
                      </center>
                      <i>PROJECT LAUNCHED</i> </li>
                    <li>
                      <center>
                        24<em>/7</em>
                      </center>
                      <i>SUPPORT </i> </li>
                    <li>
                      <center>
                        5<em>+</em>
                      </center>
                      <i>SATISFIED CUSTOMERS</i> </li>
                  </ul>
                </div>
              </div>
            </div>
          </section>
          <section class="our-soft-tech-sec">
            <div class="container">
              <div class="row">
                <div class="hea-sec">
                  <h5 class="head-sec">Our Software Development Industries</h5>
                  <p>We have successfully delivered solutions in following industries</p>
                </div>
                <div class="col-md-6">
                  <div class="tab-mnus">
                    <ul class="nav nav-tabs tab-des">
                      <li class="active"><a data-toggle="tab" href="#work1">
                        <div class="div-pre-se">
                          <center>
                            <img src="assets/images/ind-1.png" alt="">
                          </center>
                          <i>Blockchain</i> </div>
                        </a></li>
                      <li><a data-toggle="tab" href="#work2">
                        <div class="div-pre-se">
                          <center>
                            <img src="assets/images/ind-2.png" alt="">
                          </center>
                          <i>Healthcare</i> </div>
                        </a></li>
                      <li><a data-toggle="tab" href="#work3">
                        <div class="div-pre-se">
                          <center>
                            <img src="assets/images/ind-3.png" alt="">
                          </center>
                          <i>Banking & Finance</i> </div>
                        </a></li>
                      <li><a data-toggle="tab" href="#work4">
                        <div class="div-pre-se">
                          <center>
                            <img src="assets/images/ind-4.png" alt="">
                          </center>
                          <i>Real-time <Br>
                          Trading apps</i> </div>
                        </a></li>
                      <li><a data-toggle="tab" href="#work5">
                        <div class="div-pre-se">
                          <center>
                            <img src="assets/images/ind-5.png" alt="">
                          </center>
                          <i>Education & <Br>
                          E-learning</i> </div>
                        </a></li>
                      <li><a data-toggle="tab" href="#work6">
                        <div class="div-pre-se">
                          <center>
                            <img src="assets/images/ind-6.png" alt="">
                          </center>
                          <i>Cloud <Br>
                          Technologies</i> </div>
                        </a></li>
                      <li><a data-toggle="tab" href="#work7">
                        <div class="div-pre-se">
                          <center>
                            <img src="assets/images/ind-7.png" alt="">
                          </center>
                          <i>Automotive</i> </div>
                        </a></li>
                      <li><a data-toggle="tab" href="#work8">
                        <div class="div-pre-se">
                          <center>
                            <img src="assets/images/ind-8.png" alt="">
                          </center>
                          <i> Travel & Tourism</i> </div>
                        </a></li>
                      <li><a data-toggle="tab" href="#work9">
                        <div class="div-pre-se">
                          <center>
                            <img src="assets/images/ind-9.png" alt="">
                          </center>
                          <i>Manufacturing</i> </div>
                        </a></li>
                      <li><a data-toggle="tab" href="#work10">
                        <div class="div-pre-se">
                          <center>
                            <img src="assets/images/ind-10.png" alt="">
                          </center>
                          <i>Intellectual <br>
                          Property Products</i> </div>
                        </a></li>
                      <li><a data-toggle="tab" href="#work11">
                        <div class="div-pre-se">
                          <center>
                            <img src="assets/images/ind-11.png" alt="">
                          </center>
                          <i>Gaming</i> </div>
                        </a></li>
                      <li><a data-toggle="tab" href="#work12">
                        <div class="div-pre-se">
                          <center>
                            <img src="assets/images/ind-12.png" alt="">
                          </center>
                          <i>Media & <br>
                          Entertainment</i> </div>
                        </a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="tab-content">
                    <div id="work1" class="tab-pane fade in active">
                      <div class="act-tab-con">
                        <center>
                          <img src="assets/images/act-ind-1.png" alt="">
                        </center>
                        <b>Blockchain</b>
                        <p>Our developers have dived into several projects in the Healthcare sector; ranging from Doctor-client appointment & booking systems to medicine verification scanners. If you are looking for a mobile app development company for your next big app in the healthcare industry, feel free to discuss your project with us.Our developers have dived into several projects in the healthcare sector; ranging from Doctor-client booking systems to medicine verification scanners.Our developers have dived into several projects in the Healthcare sector; ranging from Doctor-client appointment & booking systems to medicine verification scanners. If you are looking for a mobile app development company for your next big app in the healthcare industry, feel free to discuss your project with us.</p>
                      </div>
                    </div>
                    <div id="work2" class="tab-pane fade">
                      <div class="act-tab-con">
                        <center>
                          <img src="assets/images/act-ind-2.png" alt="">
                        </center>
                        <b>Healthcare</b>
                        <p>Our developers have dived into several projects in the Healthcare sector; ranging from Doctor-client appointment & booking systems to medicine verification scanners. If you are looking for a mobile app development company for your next big app in the healthcare industry, feel free to discuss your project with us.Our developers have dived into several projects in the healthcare sector; ranging from Doctor-client booking systems to medicine verification scanners.Our developers have dived into several projects in the Healthcare sector; ranging from Doctor-client appointment & booking systems to medicine verification scanners. If you are looking for a mobile app development company for your next big app in the healthcare industry, feel free to discuss your project with us.</p>
                      </div>
                    </div>
                    <div id="work3" class="tab-pane fade">
                      <div class="act-tab-con">
                        <center>
                          <img src="assets/images/act-ind-3.png" alt="">
                        </center>
                        <b>Banking & Finance</b>
                        <p>Our developers have dived into several projects in the Healthcare sector; ranging from Doctor-client appointment & booking systems to medicine verification scanners. If you are looking for a mobile app development company for your next big app in the healthcare industry, feel free to discuss your project with us.Our developers have dived into several projects in the healthcare sector; ranging from Doctor-client booking systems to medicine verification scanners.Our developers have dived into several projects in the Healthcare sector; ranging from Doctor-client appointment & booking systems to medicine verification scanners. If you are looking for a mobile app development company for your next big app in the healthcare industry, feel free to discuss your project with us.</p>
                      </div>
                    </div>
                    <div id="work4" class="tab-pane fade">
                      <div class="act-tab-con">
                        <center>
                          <img src="assets/images/act-ind-4.png" alt="">
                        </center>
                        <b>Real-time Trading apps</b>
                        <p>Our developers have dived into several projects in the Healthcare sector; ranging from Doctor-client appointment & booking systems to medicine verification scanners. If you are looking for a mobile app development company for your next big app in the healthcare industry, feel free to discuss your project with us.Our developers have dived into several projects in the healthcare sector; ranging from Doctor-client booking systems to medicine verification scanners.Our developers have dived into several projects in the Healthcare sector; ranging from Doctor-client appointment & booking systems to medicine verification scanners. If you are looking for a mobile app development company for your next big app in the healthcare industry, feel free to discuss your project with us.</p>
                      </div>
                    </div>
                    <div id="work5" class="tab-pane fade">
                      <div class="act-tab-con">
                        <center>
                          <img src="assets/images/act-ind-5.png" alt="">
                        </center>
                        <b>Education & E-learning</b>
                        <p>Our developers have dived into several projects in the Healthcare sector; ranging from Doctor-client appointment & booking systems to medicine verification scanners. If you are looking for a mobile app development company for your next big app in the healthcare industry, feel free to discuss your project with us.Our developers have dived into several projects in the healthcare sector; ranging from Doctor-client booking systems to medicine verification scanners.Our developers have dived into several projects in the Healthcare sector; ranging from Doctor-client appointment & booking systems to medicine verification scanners. If you are looking for a mobile app development company for your next big app in the healthcare industry, feel free to discuss your project with us.</p>
                      </div>
                    </div>
                    <div id="work6" class="tab-pane fade">
                      <div class="act-tab-con">
                        <center>
                          <img src="assets/images/act-ind-6.png" alt="">
                        </center>
                        <b>Cloud  Technologies</b>
                        <p>Our developers have dived into several projects in the Healthcare sector; ranging from Doctor-client appointment & booking systems to medicine verification scanners. If you are looking for a mobile app development company for your next big app in the healthcare industry, feel free to discuss your project with us.Our developers have dived into several projects in the healthcare sector; ranging from Doctor-client booking systems to medicine verification scanners.Our developers have dived into several projects in the Healthcare sector; ranging from Doctor-client appointment & booking systems to medicine verification scanners. If you are looking for a mobile app development company for your next big app in the healthcare industry, feel free to discuss your project with us.</p>
                      </div>
                    </div>
                    <div id="work7" class="tab-pane fade">
                      <div class="act-tab-con">
                        <center>
                          <img src="assets/images/act-ind-7.png" alt="">
                        </center>
                        <b>Automotive</b>
                        <p>Our developers have dived into several projects in the Healthcare sector; ranging from Doctor-client appointment & booking systems to medicine verification scanners. If you are looking for a mobile app development company for your next big app in the healthcare industry, feel free to discuss your project with us.Our developers have dived into several projects in the healthcare sector; ranging from Doctor-client booking systems to medicine verification scanners.Our developers have dived into several projects in the Healthcare sector; ranging from Doctor-client appointment & booking systems to medicine verification scanners. If you are looking for a mobile app development company for your next big app in the healthcare industry, feel free to discuss your project with us.</p>
                      </div>
                    </div>
                    <div id="work8" class="tab-pane fade">
                      <div class="act-tab-con">
                        <center>
                          <img src="assets/images/act-ind-8.png" alt="">
                        </center>
                        <b> Travel & Tourism</b>
                        <p>Our developers have dived into several projects in the Healthcare sector; ranging from Doctor-client appointment & booking systems to medicine verification scanners. If you are looking for a mobile app development company for your next big app in the healthcare industry, feel free to discuss your project with us.Our developers have dived into several projects in the healthcare sector; ranging from Doctor-client booking systems to medicine verification scanners.Our developers have dived into several projects in the Healthcare sector; ranging from Doctor-client appointment & booking systems to medicine verification scanners. If you are looking for a mobile app development company for your next big app in the healthcare industry, feel free to discuss your project with us.</p>
                      </div>
                    </div>
                    <div id="work9" class="tab-pane fade">
                      <div class="act-tab-con">
                        <center>
                          <img src="assets/images/act-ind-9.png" alt="">
                        </center>
                        <b>Manufacturing</b>
                        <p>Our developers have dived into several projects in the Healthcare sector; ranging from Doctor-client appointment & booking systems to medicine verification scanners. If you are looking for a mobile app development company for your next big app in the healthcare industry, feel free to discuss your project with us.Our developers have dived into several projects in the healthcare sector; ranging from Doctor-client booking systems to medicine verification scanners.Our developers have dived into several projects in the Healthcare sector; ranging from Doctor-client appointment & booking systems to medicine verification scanners. If you are looking for a mobile app development company for your next big app in the healthcare industry, feel free to discuss your project with us.</p>
                      </div>
                    </div>
                    <div id="work10" class="tab-pane fade">
                      <div class="act-tab-con">
                        <center>
                          <img src="assets/images/act-ind-10.png" alt="">
                        </center>
                        <b>Intellectual Property Products</b>
                        <p>Our developers have dived into several projects in the Healthcare sector; ranging from Doctor-client appointment & booking systems to medicine verification scanners. If you are looking for a mobile app development company for your next big app in the healthcare industry, feel free to discuss your project with us.Our developers have dived into several projects in the healthcare sector; ranging from Doctor-client booking systems to medicine verification scanners.Our developers have dived into several projects in the Healthcare sector; ranging from Doctor-client appointment & booking systems to medicine verification scanners. If you are looking for a mobile app development company for your next big app in the healthcare industry, feel free to discuss your project with us.</p>
                      </div>
                    </div>
                    <div id="work11" class="tab-pane fade">
                      <div class="act-tab-con">
                        <center>
                          <img src="assets/images/act-ind-11.png" alt="">
                        </center>
                        <b> Gaming</b>
                        <p>Our developers have dived into several projects in the Healthcare sector; ranging from Doctor-client appointment & booking systems to medicine verification scanners. If you are looking for a mobile app development company for your next big app in the healthcare industry, feel free to discuss your project with us.Our developers have dived into several projects in the healthcare sector; ranging from Doctor-client booking systems to medicine verification scanners.Our developers have dived into several projects in the Healthcare sector; ranging from Doctor-client appointment & booking systems to medicine verification scanners. If you are looking for a mobile app development company for your next big app in the healthcare industry, feel free to discuss your project with us.</p>
                      </div>
                    </div>
                    <div id="work12" class="tab-pane fade">
                      <div class="act-tab-con">
                        <center>
                          <img src="assets/images/act-ind-12.png" alt="">
                        </center>
                        <b>Media & Entertainment</b>
                        <p>Our developers have dived into several projects in the Healthcare sector; ranging from Doctor-client appointment & booking systems to medicine verification scanners. If you are looking for a mobile app development company for your next big app in the healthcare industry, feel free to discuss your project with us.Our developers have dived into several projects in the healthcare sector; ranging from Doctor-client booking systems to medicine verification scanners.Our developers have dived into several projects in the Healthcare sector; ranging from Doctor-client appointment & booking systems to medicine verification scanners. If you are looking for a mobile app development company for your next big app in the healthcare industry, feel free to discuss your project with us.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="clients-sec">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <h5 class="head-sec"> Projects successfully delivery <Br>
                    for these clients </h5>
                  <div class="clien-slider slider">
                    <div class="clien-log-si">
                      <center>
                        <img src="assets/images/client-1.png" alt="">
                      </center>
                      <b>Departure Control System and <Br>
                      Flight management System</b> </div>
                    <div class="clien-log-si">
                      <center>
                        <img src="assets/images/client-2.png" alt="">
                      </center>
                      <b>Real-time remote control <Br>
                      application</b> </div>
                    <div class="clien-log-si">
                      <center>
                        <img src="assets/images/client-3.png" alt="">
                      </center>
                      <b>London underground rail <Br>
                      simulation</b> </div>
                    <div class="clien-log-si">
                      <center>
                        <img src="assets/images/client-4.png" alt="">
                      </center>
                      <b>Cloud Gaming</b> </div>
                    <div class="clien-log-si">
                      <center>
                        <img src="assets/images/client-5.png" alt="">
                      </center>
                      <b>Cloud Virtualization</b> </div>
                    <div class="clien-log-si">
                      <center>
                        <img src="assets/images/client-1.png" alt="">
                      </center>
                      <b>Departure Control System and <Br>
                      Flight management System</b> </div>
                    <div class="clien-log-si">
                      <center>
                        <img src="assets/images/client-2.png" alt="">
                      </center>
                      <b>Real-time remote control <Br>
                      application</b> </div>
                    <div class="clien-log-si">
                      <center>
                        <img src="assets/images/client-3.png" alt="">
                      </center>
                      <b>London underground rail <Br>
                      simulation</b> </div>
                    <div class="clien-log-si">
                      <center>
                        <img src="assets/images/client-4.png" alt="">
                      </center>
                      <b>Cloud Gaming</b> </div>
                    <div class="clien-log-si">
                      <center>
                        <img src="assets/images/client-5.png" alt="">
                      </center>
                      <b>Cloud Virtualization</b> </div>
                  </div>
                </div>
              </div>
              <div class="lets-asksec"> <i>LETS</i> <img src="assets/images/stand-man.png" alt=""> <i>Talk</i> </div>
            </div>
          </section>
          <section class="query-form-sec main-scroll" id="cost-info">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="hea-sec"> <em>We believe in solving problem with </em>
                    <h5 class="head-sec">Skill, Passion, Quality and Reliability </h5>
                    <em>that could result in building long term relationships. </em>
                    <p>So if you are looking for a developer in these areas, <br>
                      fill our the form below and our team will be in contact within few days." <img src="assets/images/green-arrow.png" alt=""></p>
                  </div>
                  <div class="inq-form">
                    <div class="row">
                      <div class="col-md-4 col-sm-6">
                        <div class="inp-sec"> <img src="assets/images/input-1.png" alt="">
                          <input type="text" placeholder="Name">
                        </div>
                      </div>
                      <div class="col-md-4 col-sm-6">
                        <div class="inp-sec"> <img src="assets/images/input-2.png" alt="">
                          <input type="text" placeholder="Email Address">
                        </div>
                      </div>
                      <div class="col-md-4 col-sm-6">
                        <div class="inp-sec"> <img src="assets/images/input-3.png" alt="">
                          <input type="text" placeholder="Phone Number">
                        </div>
                      </div>
                      <div class="col-md-4 col-sm-6">
                        <div class="inp-sec"> <img src="assets/images/input-4.png" alt="">
                          <select>
                            <option>Interested In</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4 col-sm-6">
                        <div class="inp-sec"> <img src="assets/images/input-5.png" alt="">
                          <select>
                            <option>Budget </option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4 col-sm-6">
                        <div class="inp-sec"> <img src="assets/images/input-6.png" alt="">
                          <input type="text" placeholder="Skype ID ">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="dis-cent">
                    <button type="submit">Contact Our Expert </button>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <footer>
          <div class="container">
            <div class="row">
              <div class="col-md-5">
                <ul class="fo-cont">
                  <li><img src="assets/images/comp-1.png" alt=""> UK Office :  +44 203 620 7120 </li>
                  <li><img src="assets/images/comp-2.png" alt=""> + 44 79 15 220 209</li>
                  <li><img src="assets/images/comp-3.png" alt=""> support@bitvelocity.io</li>
                  <li><img src="assets/images/comp-4.png" alt=""> 43 Bradenham Road, UB4 8LR, Hayes, West London</li>
                </ul>
              </div>
              <div class="col-md-3">
                <div class="soci-fot"> <a href="#"><img src="assets/images/social-1.png" alt=""></a> <a href="#"><img src="assets/images/social-2.png" alt=""></a> <a href="#"><img src="assets/images/social-3.png" alt=""></a> </div>
              </div>
              <div class="col-md-4">
                <div class="fot-adres">Copyright@2018 <Br>
                  All rights reserved <a href="#">bitvelocity.io </a> <Br>
                  operating under Velocity Solutions Ltd. <Br>
                  Company No : 10744902</div>
              </div>
            </div>
          </div>
        </footer>
        <a id="back2Top" title="Back to top" href="#"><img src="assets/images/go-to.png" alt=""></a>
      
      </div>
      