.card-saving {
  display: flex;

  & .col-left,
  .col-right {
    padding: 40px 50px;
    height: 100vh;
    width: 50%;
    display: flex;
    align-items: center;
    color: #212323;

    img {
      margin-bottom: 20%;
    }

    h1 {
      color: #212323;
      margin: 35px 0;
    }
  }
}