<div class="mainpage clearfix">

    <!-- Banner Start -->
    <section class="banner clearfix">
        <div class="container">
            <h1> Buy your digital assests in native currency pairs to reduce huge conversion cost.
                Now supporting buying in GBP, Euro and USD</h1>
            <!-- <nb-card nbspinnersize="large" nbspinnerstatus="danger" size="xsmall">
                <nb-card-body> -->
            <div class="row">
                <div class="col-md-12">
                    <span class="last_price brdroup" style="margin:0px 20px; line-height: 25px; float:right;">
                        <ul>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span style="display:inline-block">{{selectedCurrencyPair.fc_name}}</span>
                                    <span class="cp-splitter">/</span>
                                    <b style="display:inline-block">{{selectedCurrencyPair.tc_name}}</b>
                                    <i style="display:inline-block" class="fa fa-angle-down" aria-hidden="true"></i>
                                </a>
                                <ul class="dropdown-menu mymenu">
                                    <li *ngFor="let cp of currencyPairs;" (click)="setSelectedCurrencyPair(cp.id)">
                                        <a>{{cp.fc_name}}<span class="cp-splitter">/</span><b>{{cp.tc_name}}</b></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </span>
                </div>
            </div>
            <div class="bannerb clearfix" [nbSpinner]="loadingPairDetails || loadingCurrencies">
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="buy-txt">Buy {{selectedCurrencyPair.fc_name}} at:<br>
                        <span>{{selectedBriefHistory.current_buy}}</span> {{selectedCurrencyPair.tc_name}}
                        <a [routerLink]="globals.isLoggedIn ? constants.RoutePaths.Trade : constants.RoutePaths.Login">
                            <img src="assets/images/buy-icon.png" [alt]="lang.Buy">
                            <br>
                            {{lang.Sell}} {{lang.Now}}</a> </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="sell-txt">{{lang.Sell}} {{selectedCurrencyPair.fc_name}} at:<br>
                        <span>{{selectedBriefHistory.current_sell}}</span> {{selectedCurrencyPair.tc_name}} <a
                            [routerLink]="globals.isLoggedIn ? constants.RoutePaths.Trade : constants.RoutePaths.Login">

                            <img src="assets/images/sell-icon.png" [alt]="lang.Sell">
                            <br>
                            {{lang.Sell}} {{lang.Now}} </a> </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="buysellwrap clearfix">
                            <form [formGroup]="form">
                                <div class="von-form clearfix">
                                    <div class="von-left">
                                        <h4 style="display:table;"><span [ngStyle]="getBuyStyle()">Buy</span><span>&nbsp;</span>
                                            <label class="switch" style="vertical-align: middle;">
                                                <input (change)="buySellChange()" [value]="isBuy" type="checkbox">
                                                <span class="slider"></span>
                                            </label>
                                            <span>&nbsp;</span><span [ngStyle]="getSellStyle()">Sell</span></h4>
                                        <input formControlName="fc" (input)="calculatorInput(1)" [step]="fcStep"
                                            numberd-only min="0" type="number" class="form-control" [placeholder]="fcPlaceholder ? fcPlaceholder : 0">
                                    </div>
                                    <div class="von-right">
                                        <span class=" buy-btn">
                                            <span class="select-wrapper" style="background:none; height:100%;">
                                                <!-- <select class="custom-select">
                                                <option>USD</option>
                                            </select> -->
                                                <span class="holder">{{selectedCurrencyPair.fc_name}}</span></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="von-form clearfix">
                                    <div class="von-left">
                                        <h4 [innerHTML]="isBuy ? lang.Cost : lang.YouGet"></h4>
                                        <input formControlName="tc" (input)="calculatorInput(2)" [step]="tcStep"
                                            numberd-only min="0" type="number" class="form-control" [placeholder]="tcPlaceholder">
                                    </div>
                                    <div class="von-right">
                                        <span class=" sell-btn">
                                            <span class="select-wrapper" style="background:none;">
                                                <!-- <select class="custom-select">
                                            <option>BTC</option>
                                        </select> -->
                                                <span class="holder">{{selectedCurrencyPair.tc_name}}</span>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- </nb-card-body>
            </nb-card> -->
        </div>
    </section>

    <!-- Wallet Start -->
    <section class="walletwrap clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div [nbSpinner]="!(sortedPairs && sortedPairs.length > 0)" class="walletbox">
                        <h2>
                            <img width="34" height="34" [src]="firstPair.fc_icon">
                            {{firstPair.fc_name}}/{{firstPair.tc_name}}
                            <!-- <span>2.45%</span> -->
                        </h2>
                        <p>{{lang.Last}} <b>{{firstPair.tc_symbol}}{{firstPair.last}}</b><!-- $ 12.90 -->
                            <br>
                            {{lang.Volume}} {{firstPair.volume}} {{firstPair.fc_name}}</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div [nbSpinner]="!(sortedPairs && sortedPairs.length > 1)" class="walletbox">
                        <h2>
                            <img width="34" height="34" [src]="secondPair.fc_icon">
                            {{secondPair.fc_name}}/{{secondPair.tc_name}}
                            <!-- <span>2.45%</span> -->
                        </h2>
                        <p>{{lang.Last}} <b>{{secondPair.tc_symbol}}{{secondPair.last}}</b><!-- $ 12.90 -->
                            <br>
                            {{lang.Volume}} {{secondPair.volume}} {{secondPair.fc_name}}</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div [nbSpinner]="!(sortedPairs && sortedPairs.length > 2)" class="walletbox1">
                        <h2>
                            <img width="34" height="34" [src]="thirdPair.fc_icon">
                            {{thirdPair.fc_name}}/{{thirdPair.tc_name}}
                            <!-- <span>2.45%</span> -->
                        </h2>
                        <p>{{lang.Last}} <b>{{thirdPair.tc_symbol}}{{thirdPair.last}}</b><!-- $ 12.90 -->
                            <br>
                            {{lang.Volume}} {{thirdPair.volume}} {{thirdPair.fc_name}}</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div [nbSpinner]="!(sortedPairs && sortedPairs.length > 3)" class="walletbox1">
                        <h2>
                            <img width="34" height="34" [src]="fourthPair.fc_icon">
                            {{fourthPair.fc_name}}/{{fourthPair.tc_name}}
                            <!-- <span>2.45%</span> -->
                        </h2>
                        <p>{{lang.Last}} <b>{{fourthPair.tc_symbol}}{{fourthPair.last}}</b><!-- $ 12.90 -->
                            <br>
                            {{lang.Volume}} {{fourthPair.volume}} {{fourthPair.fc_name}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Services Start -->
    <section class="servicewrap clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 text-center">

                    <img src="assets/images/support-icon.png" alt="Experts Support">

                    <h2>Experts Support</h2>
                    <p>We target to ensure that your query
                        is answered in best possible way
                        with guidance on Account verification,
                        KYC, Fiat deposits, Security and Trading. </p>
                </div>
                <div class="col-md-4 col-sm-6 text-center">

                    <img src="assets/images/safe-icon.png" alt="Safe &amp; Secure">

                    <h2>Safe &amp; Secure</h2>
                    <p>We follow best industry practices
                        back-end with customized security
                        to protect your coins </p>
                </div>
                <div class="col-md-4 col-sm-6 text-center">

                    <img src="assets/images/instant-icon.png" alt="Safe &amp; Secure">

                    <h2>FEES</h2>
                    <p>Standard Buy {{this.selectedCurrencyPair.buy_fee ? this.selectedCurrencyPair.buy_fee.toFixed(2) : ''}}% 
                        <br> Standard Sell {{this.selectedCurrencyPair.sell_fee ? this.selectedCurrencyPair.sell_fee.toFixed(2) : ''}}% <br></p>
                </div>
                <div class="col-md-4 col-sm-6 text-center">

                    <img src="assets/images/wallet-icon.png" alt="Safe &amp; Secure">

                    <h2>Advanced Ordering</h2>
                    <p>Order limit and stop loss to
                        automate your strategy and minimize
                        the trading risk </p>
                </div>
                <div class="col-md-4 col-sm-6 text-center">

                    <img src="assets/images/buye-icon.png" alt="Safe &amp; Secure">

                    <h2>Reliability</h2>
                    <p>Reliable service with 24x7 <br>
                        support via email</p>
                </div>
                <div class="col-md-4 col-sm-6 text-center">

                    <img src="assets/images/trading-icon.png" alt="Safe &amp; Secure">

                    <h2>Offline Storage</h2>
                    <p>Majority of the digital assets are storted
                        offline to prevent hackers attacks </p>
                </div>
            </div>
        </div>
    </section>

    <!-- How it Work Start -->
    <section class="howitwork clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="howbox clearfix">
                        <div class="arrow-how"><img src="assets/images/arrow-how.png" class="img-responsive" alt="How"></div>

                        <img src="assets/images/reg-icon.png" alt="Register">

                        <h3>
                            <div>1</div>
                            Register
                        </h3>
                        <p>Registration is easy and will help you keep track of your assets</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="howbox clearfix">
                        <div class="arrow-how"><img src="assets/images/arrow-how.png" class="img-responsive" alt="How"></div>

                        <img src="assets/images/kyc-icon.png" alt="Get KYC verified">

                        <h3>
                            <div>2</div>
                            Get KYC verified
                        </h3>
                        <p>As per regulatoring requiments, we will only allow customers that
                            have passed our KYC criteria.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="howbox clearfix">
                        <div class="arrow-how"><img src="assets/images/arrow-how.png" class="img-responsive" alt="How"></div>

                        <img src="assets/images/deposit-icon.png" alt="Register">

                        <h3>
                            <div>3</div>
                            Make fiat deposit or Register debit/credit card
                        </h3>
                        <p>Buy instantly with debit/credit card or deposit Euro/USD to
                            convert to crypto.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="howbox clearfix">

                        <img src="assets/images/start-buy-icon.png" alt="Register">

                        <h3>
                            <div>4</div>
                            Start buying
                        </h3>
                        <p>Start trading. Or be a long-term hodler.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Trading Start -->
    <section class="tradingwrap clearfix">
        <div class="container">
            <ul class="nav nav-tabs">
                <!-- <li>
                    <a data-toggle="tab" href="#star-tab">
                        <img src="assets/images/star-icon.png" alt="star">
                    </a>
                </li> -->
                <li *ngFor="let m of markets;let i = index;" [class]="i == 0 ? 'active' : ''">
                    <a data-toggle="tab" href="#pairHistory" (click)="changePairHistoryTab(m);">
                        <img width="34" height="34" [src]="getCP(m).tc_icon" [alt]="getCP(m).tc_name"><br>{{getCP(m).tc_name}}
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <!-- <div id="star-tab" class="tab-pane fade">

                    <img src="assets/images/graph.png" class="img-responsive" alt="Graph">

                </div> -->
                <div class="tab-pane fade in active" id="pairHistory">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-responsive">
                        <tbody>
                            <tr>
                                <td align="center" (click)="sortPairHistoryTab(tradePairHistorySortings.pair)" valign="middle" class="table-head">
                                    {{lang.Pair}} <img src="assets/images/table-arrow.png" alt="arrow">
                                </td>
                                <td align="center" (click)="sortPairHistoryTab(tradePairHistorySortings.last)" valign="middle" class="table-head">
                                    {{lang.LastPrice}} <img src="assets/images/table-arrow.png" alt="arrow">
                                </td>
                                <td align="center" (click)="sortPairHistoryTab(tradePairHistorySortings.change)" valign="middle" class="table-head">
                                    24H {{lang.Change}} <img src="assets/images/table-arrow.png" alt="arrow">
                                </td>
                                <td align="center" (click)="sortPairHistoryTab(tradePairHistorySortings.high)" valign="middle" class="table-head">
                                    24H {{lang.High}} <img src="assets/images/table-arrow.png" alt="arrow">
                                </td>
                                <td align="center" (click)="sortPairHistoryTab(tradePairHistorySortings.low)" valign="middle" class="table-head">
                                    24H {{lang.Low}} <img src="assets/images/table-arrow.png" alt="arrow">
                                </td>
                                <td align="center" (click)="sortPairHistoryTab(tradePairHistorySortings.volume)" valign="middle" class="table-head">
                                    24H {{lang.Volume}} <img src="assets/images/table-arrow.png" alt="arrow">
                                </td>
                            </tr>
                            <tr *ngFor="let p of selectedTradePairHistory;">
                                <td align="center" valign="middle" class="white-txt">{{getCP(p.id).fc_name}}/{{getCP(p.id).tc_name}}</td>
                                <td align="center" valign="middle" class="white-txt">{{p.last}}</td>
                                <td align="center" valign="middle" [class]="p.change >= 0 ? 'green-txt' : 'red-txt'">{{p.change}}%</td>
                                <td align="center" valign="middle" class="white-txt">{{p.high}}</td>
                                <td align="center" valign="middle" class="white-txt">{{p.low}}</td>
                                <td align="center" valign="middle" class="white-txt">{{p.volume}}
                                    {{getCP(p.id).fc_name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="text-center trading-box"> <a [routerLink]="globals.isLoggedIn ? constants.RoutePaths.Trade : constants.RoutePaths.Login">Start
                    Trading Now</a> </div>
        </div>
    </section>

    <!-- Track this Exchange Rate Start -->
    <section class="trackratewrap clearfix">
        <div class="container">
            <ul class="nav nav-tabs">
                <li><a data-toggle="tab" href="#home">Day <i></i></a></li>
                <li><a data-toggle="tab" href="#menu1">Week <i></i></a></li>
                <li class="active"><a data-toggle="tab" href="#menu2">Month <i></i></a></li>
            </ul>
            <div class="tab-content">
                <div id="home" class="tab-pane fade">

                    <img src="assets/images/graph.png" class="img-responsive" alt="Graph">

                </div>
                <div id="menu1" class="tab-pane fade">
                    <p>Some content in menu 1.</p>
                </div>
                <div id="menu2" class="tab-pane fade in active">

                    <img src="assets/images/graph.png" class="img-responsive" alt="Graph">

                    <div class="text-center"> <a href="#" class="track-btn">Track this Exchange Rate</a> </div>
                </div>
            </div>
        </div>
    </section>

    <!-- World Start -->
    <section class="worldwrap clearfix">
        <div class="container">
            <h2>Covering major Eurpeon countries and US</h2>
            <div class="world-txt text-center">We offer easy and simple steps to buy crypto taking hassle away from our
                clients
                letting them focus on things that actually matter the cryptocurrency marketcap is always
                increasing and is expected to reach multi trillion dollar industry </div>
        </div>
        <div class="container-fluid"><img src="assets/images/world-map.png" class="img-responsive" alt="World Map">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h3>Part Buying</h3>
                    <p>Schedule weekly or monthly direct debits from your account for buying cryptocurrency in parts.</p>
                </div>
                <div class="col-sm-4">
                    <h3>Support</h3>
                    <p>We target to ensure that your query is answered in best possible way with guidance on Account
                        verification, KYC, Fiat deposits, Security and Trading</p>
                </div>
                <div class="col-sm-4">
                    <h3>API</h3>
                    <p>Our restful APIs will be available soon for integration.</p>
                </div>
            </div>
        </div>
    </section>
</div>