
<!-- Footer Start -->
<footer>
    <div class="footer clearfix">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-xs-6">
                    <h2>FEATURES</h2>
                    <ul>
                        <li><a href="#">Trading</a></li>
                        <li><a href="#">Funding</a></li>
                        <li><a href="#">Deposit</a></li>
                        <li><a href="#">Withdraw</a></li>
                        <li><a href="#">Manage Wallets</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <h2>EXPLORE</h2>
                    <ul>
                        <li><a href="#">Market Statistics</a></li>
                        <li><a href="#">Security</a></li>
                        <li><a href="#">How it works</a></li>
                        <li><a href="#">Our fees</a></li>
                        <li><a href="#">About Page</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <h2>SUPPORT</h2>
                    <ul>
                        <li><a href="#">Support Center </a></li>
                        <li><a href="#">Knowledge Base</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 social col-xs-6">
                    <h2>Social</h2>
                    <ul>
                        <li><a href="#" class="fb"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="https://twitter.com/bit_velocity" class="tw"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    </ul>
                    <p><img src="assets/images/footer-logo.png" class="img-responsive" alt="BitVelocity"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright clearfix">
        <div class="container">&copy; bitvelocity.io 2018 Legal privacy policy and Email us at support@bitvelocity.io
        </div>
    </div>
</footer>