<ngx-spinner class="max-height" [bdColor]="globals.spinnerConfig.main.bdColor" [size]="globals.spinnerConfig.main.size"
    [color]="globals.spinnerConfig.main.color" [type]="globals.spinnerConfig.main.type"></ngx-spinner>
<!-- <perfect-scrollbar [config]="config"> -->
<div *ngIf="checkedLogin" style="width:100%;min-height:100%;" class="page-wrap animated fadeIn">
    <app-main-header *ngIf="showHeader"></app-main-header>
    <router-outlet>
    </router-outlet>
    <app-main-footer *ngIf="showFooter"></app-main-footer>
</div>
<!-- </perfect-scrollbar> -->