.faq-card {
  img {
    margin-left: 15px;
  }
}

.collapse {
  padding: 0 110px;

  h2 {
    margin-top: 40px;
  }

  p {
    padding-left: 24px;
  }
}

h1 {
  margin: 15px 0;

  img {
    width: 50px;
  }
}

h2 {
  margin: 18px 0;
}