<lib-ngx-notification style="width:100px;height:50px;"></lib-ngx-notification>
<div class="mainpage clearfix"> 
  <!-- Signup Start -->
  <section class="signupwrap clearfix">
  <div class="container">
    <h2> "please send to your email address to support and we will verify your code"</h2>
    <div class="row">
      <div class="col-md-7 col-md-offset-2 col-sm-12">
        <h3>password resetting</h3>
        <div class="signupbox clearfix">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#Individual" (click)="typesel(1)"><img src="src/assets/images/u-icon.png" alt="Individual" > admin </a></li>
           
          </ul>
          <div class="tab-content">
              <div class="col-sm-12">
                  <label>email</label>
                <div class="form-group">
                  <input class="form-control" (change)="check()" [(ngModel)]="Email" #ctrl="ngModel" required>
                </div>
              </div>
              <div class="col-sm-12" *ngIf="this.forget_emailstatus == 400" style="color:red">
                
                <div class="form-group">
                    this email is invalid please check again
                </div>
            </div>
            <div class="col-sm-12" *ngIf="this.forget_emailstatus == 202" style="color:red">
                
              <div class="form-group">
                  please input email 
              </div>
          </div>
              <div class="col-sm-12" *ngIf="this.verify_code == 1">
                  <label>verify_code</label>
                  <div class="form-group">
                      <input class="form-control" (change)="codevalidation()" [(ngModel)]="Code" #ctrl="ngModel" required>
                  </div>
              </div>
               <div class="col-sm-12" *ngIf="this.code_status == 202" style="color:red">
                
              <div class="form-group">
                   verify code length is 3 length 
              </div>
          </div>
          <div class="col-sm-12" *ngIf="this.code_status == 203" style="color:red">
                
            <div class="form-group">
                please input verify code
            </div>
        </div>
              <div class="col-sm-12" *ngIf="this.verify_code == 1">
                <label>password</label>
                <div class="form-group">
                    <input class="form-control" (change)="veripassword()" [(ngModel)]="Password" #ctrl="ngModel" required>
                </div>
            </div>
            <div class="col-sm-12" *ngIf="this.Password_status == 202" style="color:red">
                
              <div class="form-group">
                 password length is over 6 
              </div>
          </div>
          <div class="col-sm-12" *ngIf="this.Password_status == 203" style="color:red">
                  
            <div class="form-group">
                this password is empty status
            </div>
        </div>
                
                <div class="col-sm-12" *ngIf=" this.status == 0">
                    <div class="form-group">  
                  <button class="signup-btn" (click)="senmail()">send to email</button>
                    </div>  
                </div>
                <div class="col-sm-12" *ngIf=" this.status == 1">
                  <div class="form-group">  
                <button class="signup-btn" (click)="resetpassword()">resetpassword</button>
                  </div>  
              </div>
              
          </div>
        </div>
      
      </div>
    </div>
  </div>
  </section>
  </div>
 