<div class="row" style="margin:0;">
    <div class="col-md-6" style="padding-top:12px; padding-bottom:12px;">
        <searchable-dropdown width="100%" [showSpinner]="loadingDepositableCurrencies" [source]="depositableCurrenciesSource"
            [settings]="depositableCurrenciesSettings" [selectedValue]="depositableCurrenciesSelectedValue" (change)="depositableCurrenciesOnChange($event)">
        </searchable-dropdown>
        <div style="min-height:300px;" class="col-sm-12">
            <table *ngIf="wallet != null" class="table-responsive funding-wallet">
                <colgroup style="width:120px;"></colgroup>
                <colgroup style="width:160px;"></colgroup>
                <tr>
                    <th [innerHTML]="lang.TotalBalance"></th>
                    <td [innerHTML]="wallet.balance + ' ' + selectedCurrency.name"></td>
                </tr>
                <tr>
                    <th [innerHTML]="lang.OnHold"></th>
                    <td [innerHTML]="wallet.hold_balance + ' ' + selectedCurrency.name"></td>
                </tr>
                <tr>
                    <th [innerHTML]="lang.AvailableBalance"></th>
                    <td [innerHTML]="wallet.available_balance + ' ' + selectedCurrency.name"></td>
                </tr>
            </table>
            <hr *ngIf="selectedDepositMethod != null">
            <table *ngIf="selectedDepositMethod != null" class="table-responsive funding-deposit-methods">
                <colgroup style="width:180px;"></colgroup>
                <colgroup style="width:auto;"></colgroup>
                <tr>
                    <th [innerHTML]="lang.AccountName"></th>
                    <td [innerHTML]="selectedDepositMethod.account_name"></td>
                </tr>
                <tr>
                    <th [innerHTML]="lang.Address"></th>
                    <td [innerHTML]="selectedDepositMethod.address"></td>
                </tr>
                <tr>
                    <th [innerHTML]="lang.IBAN"></th>
                    <td [innerHTML]="selectedDepositMethod.iban"></td>
                </tr>
                <tr>
                    <th [innerHTML]="lang.BankName"></th>
                    <td [innerHTML]="selectedDepositMethod.bank_name"></td>
                </tr>
                <tr>
                    <th [innerHTML]="lang.Branch"></th>
                    <td [innerHTML]="selectedDepositMethod.branch_address"></td>
                </tr>
                <tr>
                    <th [innerHTML]="lang.Reference"></th>
                    <td [innerHTML]="wallet.reference"></td>
                </tr>
                <tr>
                    <th [innerHTML]="lang.Minimum"></th>
                    <td [innerHTML]="selectedCurrency.symbol + selectedDepositMethod.minimum_deposit"></td>
                </tr>
                <tr *ngIf="fee != null && fee != '' && depositMethodFeeSlabs.length <= 1">
                    <th [innerHTML]="lang.Fee"></th>
                    <td [innerHTML]="fee"></td>
                </tr>
                <tr *ngIf="depositMethodFeeSlabs.length > 1">
                    <th [innerHTML]="lang.Fee"></th>
                    <td>
                        <ng2-smart-table [settings]="feeSlabsSettings" [source]="feeSlabsDataSource">
                        </ng2-smart-table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div [@depositRequests]="showPreviousDepositRequests ? 'show' : 'hide'" class="col-md-6" style="padding-top:12px; padding-bottom:12px;">
        <div [@newDepositRequest]="showNewDespositRequestForm ? 'show' : 'hide'">
            <h4 class="form-heading" [innerHTML]="lang.New + ' ' + lang.DepositRequest"></h4>
            <div class="tab-pane fade in active stylish-border">
                <form [formGroup]="form" style="margin:20px;" class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-sm-3 input-label" [innerHTML]="lang.Amount + (selectedCurrency ? ' (' + selectedCurrency.name + ')' : '')"></label>
                                <div class="col-md-9">
                                    <input [min]="selectedDepositMethod ? selectedDepositMethod.minimum_deposit : 0" number-only class="form-control" type="number" placeholder="{{lang.Amount}}"
                                        formControlName="amount" [ngClass]="{ 'is-invalid': submitted && f.amount.errors }" />
                                    <div *ngIf="submitted && f.amount.errors" class="invalid-feedback">
                                        <div *ngIf="f.amount.errors.required" [innerHtml]="errors.amountRequired"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-sm-3 input-label" [innerHTML]="lang.DepositDate"></label>
                                <div class="col-md-9">
                                    <input formControlName="deposit_date" readonly class="form-control" [placeholder]="lang.DepositDate"
                                        [ngClass]="{ 'is-invalid': submitted && f.deposit_date.errors }"
                                        [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" (dateTimeChange)="depositDateChanged()">
                                    <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                                    <div *ngIf="submitted && f.deposit_date.errors" class="invalid-feedback">
                                        <div *ngIf="f.deposit_date.errors.required" [innerHtml]="errors.depostiDateRequired"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-sm-3 input-label" [innerHTML]="lang.Reference"></label>
                                <div class="col-md-9">
                                        <label class="col-sm-3 input-label" [innerHTML]="wallet ? wallet.reference : ''"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 color-white">
                            <div class="form-group">
                                <label class="col-sm-3 input-label" [innerHTML]="lang.DepositDate"></label>
                                <div class="col-md-9">
                                    <file-uploader 
                                        [config]="fileUploaderConfig"
                                        [reset]="resetFileUploader"
                                        (valueChange)="fileUploaderValueChanged($event)"
                                        [(isBusy)]="fileUploaderBusy">
                                    </file-uploader>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6" align="center">
                            <button style="width:100%" (click)="submitDepositRequest()" [nbSpinner]="diableSubmitButton || fileUploaderBusy" class="btn btn-success" [disabled]="diableSubmitButton" [innerHTML]="lang.Submit"></button>
                        </div>
                        <div class="col-sm-6" align="center">
                            <button style="width:100%" class="btn btn-default" (click)="depositFormCancelButtonClicked();" [innerHTML]="lang.Cancel"></button>
                        </div>
                        <div class="col-sm-12">
                                <div class="{{submitRequestResposneClass}} submit-response" *ngIf="showsubmitResponse"
                                    [innerHtml]="submitResponseMessage"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <table width="100%">
            <colgroup style="width:50%;"></colgroup>
            <colgroup style="width:50%;"></colgroup>
            <tbody>
                <tr>
                    <td class="funding-table-heading" [innerHTML]="lang.DepositRequest + '(s)'"></td>
                    <td align="right">
                        <button class="btn btn-xs btn-primary" (click)="newDepositRequestClicked()">
                            <i class="fa fa-plus"></i>&nbsp;<span [innerHTML]="lang.DepositRequest"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <ng2-smart-table [settings]="depositRequestsTableSettings" [source]="depositRequestsSource">
        </ng2-smart-table>
    </div>
</div>