 @charset "utf-8";
/* CSS Document */
 

html { font-size: 100%; font-family: 'Roboto', sans-serif; color: #141313; }
article, aside, details, figcaption, figure, footer, header, main, nav, section, summary, title { display: block }
dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin: 0; padding: 0 }
table { border-collapse: collapse; border-spacing: 0 }
fieldset, img { border: 0 }
ol, ul { list-style: none }
sub, sup { position: relative; font-size: 75%; line-height: 0; vertical-align: baseline }
sup { top: -0.5em }
sub { bottom: -0.25em }
a img { border: 0; display: block }
a:active, a:focus, a:hover, input[type="image"], select:focus, input, input[type="button"]:focus, :focus { outline: 0; text-decoration: none; }
.clearfix { *zoom:1
}
a:hover, a:focus { color: #333; }
.clearfix:before, .clearfix:after { display: block; content: ""; line-height: 0 }
.clearfix:after { clear: both }
img { max-width: 100%; }
/*************************************************/

#f1_container { background-color: rgb(10, 18, 32); float: left; height: 400px; margin: 0; position: relative; width: 50%; z-index: 1; }
#f1_container { perspective: 1000; }
#f1_card { width: 100%; height: 100%; transform-style: preserve-3d; transition: all .5s linear; }
#f1_container:hover #f1_card { transform: rotateY(180deg); box-shadow: -5px 5px 5px #aaa; }
.face { backface-visibility: hidden; height: 100%; position: absolute; text-align: center; width: 100%; }
.face.back { display: block; transform: rotateY(180deg); box-sizing: border-box; padding: 10px; color: white; text-align: center; background-color: rgba(54, 173, 102,.9); display: table; }
.sldi-image-fs { height: 100vh; }
.pull-right.comp-adress > a {
  border: 1px solid rgb(255, 255, 255);
  color: rgb(54, 173, 102);
  display: inline-block;
  font-size: 21px;
  font-weight: 300;
  padding: 20px 30px;
  text-transform: uppercase;
  transition: all 0.2s ease 0s;
}
.pull-right.comp-adress > a:hover {
  background-color: rgb(54, 173, 102);
  color: rgb(255, 255, 255);
}
.sldi-image-fs { left: 0; position: absolute; right: 0; top: 0; }
.sldi-image-fs { min-height: 900px; left: 0; position: absolute; right: 0; top: 0; z-index: -1; }
.logo-left { display: inline-block; }
.cladre-con { display: inline-block; padding: 0 30px 0 0; vertical-align: top; }
.cladre-con span { color: rgb(255, 255, 255); font-size: 20px; font-weight: 300; margin: 0 0 0 16px; }
.cladre-con span img { margin: 0 10px 0 0; }
.slider-headersec header { display: table; padding: 20px 0 0; width: 100%; }
.slider-image { padding: 280px 0 150px; text-align: center; }
.head-conts > p { color: rgb(255, 255, 255); font-size: 45px; font-weight: 300; line-height: 50px; }
.head-conts li { color: rgb(255, 255, 255); display: inline-block; font-size: 15px; padding: 0 10px; text-transform: uppercase; vertical-align: middle; }
.head-conts > ul { background-color: rgba(10, 18, 32, 0.5); margin: 30px auto 45px auto; max-width: 100%; padding: 15px 0; width: 1000px; }
.head-conts li img { margin: 0 10px 0 0; }
.ta-tour { background-color: rgb(54, 173, 102); color: rgb(255, 255, 255); display: inline-block; font-size: 52px; font-weight: 300; line-height: normal; padding: 20px 30px; text-transform: uppercase; }
h5.head-sec { color: rgb(23, 26, 30); font-size: 60px; font-weight: 200; line-height: normal; text-align: center; }
h5.head-sec b { font-weight: 400; }
.hea-sec > p { font-size: 25px; font-weight: 200; line-height: 40px; padding: 0 0 20px; text-align: center; }
.about-sec { background-color: rgb(232, 239, 251); padding: 40px 0; }
.vide-sec > p { font-size: 30px; font-weight: 200; padding: 25px 0; text-align: center; }
.vide-sec li { float: left; text-align: center; width: 33.3333%; }
.vide-sec center { font-size: 60px; font-weight: 800; }
.vide-sec center i { font-size: 28px; font-style: normal; font-weight: 400; }
.vide-sec i { font-size: 32px; font-style: normal; font-weight: 200; }
.work-sec { float: left; position: relative; text-align: center; width: 33.3333%; }
.work-sec > center { background-color: rgb(10, 18, 32); border-radius: 50%; color: rgb(54, 173, 102); display: inline-block; font-size: 70px; font-weight: 200; height: 100px; width: 100px; }
.work-sec > b { color: rgb(1, 1, 1); display: block; font-size: 24px; font-weight: 400; min-height: 110px; padding: 30px 0 0; }
.work-sec > p { font-size: 20px; font-weight: 300; min-height: 110px; }
.serv-img > b { color: rgb(255, 255, 255); font-size: 60px; font-weight: 200; }
.serv-img > p { color: rgb(245, 245, 245); font-size: 21px; font-weight: 300; margin: 20px 0 0; }
.serv-img { display: table-cell; padding: 0 100px; vertical-align: middle; }
.servide-sec .col-md-6:first-child { display: table; height: 800px; padding: 0; }
.servide-sec .col-md-6:last-child { padding: 0; }
.front.face > center { background-color: rgb(54, 173, 102); border-radius: 50%; display: inline-block; line-height: 160px; margin: 70px 0 0; padding: 0; width: 160px; }
.front.face > b { color: rgb(255, 255, 255); display: block; font-size: 25px; font-weight: 300; padding: 20px 0 15px; text-transform: uppercase; }
#f1_container span { color: rgb(170, 177, 189); font-weight: 300; line-height: 27px; text-transform: uppercase; }
#f1_container span i { font-style: normal; margin: 0 3px; }
#f1_container:nth-child(3), #f1_container:nth-child(2) { background-color: rgb(35, 46, 67); }
.how-ti-work-sec h5.head-sec { margin: 40px 0; }
.how-ti-work-sec { padding-bottom: 20px; }
.work-sec::before { border-bottom: 1px solid rgb(54, 173, 102); content: ""; position: absolute; right: -95px; top: 50px; width: 210px; }
.work-sec::after { background-image: url("../images/arrow-tip.png"); background-repeat: no-repeat; content: ""; height: 40px; position: absolute; right: -115px; top: 36px; width: 30px; }
.work-sec:last-child::before, .work-sec:last-child::after { display: none; }
.flip-text { display: table-cell; vertical-align: middle; }
.flip-text > b { display: block; font-size: 23px; font-weight: 300; line-height: normal; margin: 0 0 10px; text-transform: uppercase; }
.flip-text > p { font-size: 16px; }
.working-tech-sec { padding: 50px 0 20px; }
.working-tech-sec h5.head-sec { font-size: 45px; }
.working-tech-sec li { float: left; margin: 20px 0 0; width: 25%; }
.working-tech-sec i { display: block; font-size: 20px; font-style: normal; font-weight: 300; margin: 5px 0 0; text-align: center; }
.working-tech-sec center { height: 130px; position: relative; }
.working-tech-sec img { bottom: 0; left: 0; margin: auto; position: absolute; right: 0; top: 0; }
.exper-sec { background-color: rgb(35, 46, 67); margin: 40px 0 0; padding: 40px 0; }
.exper-sec li { color: rgb(114, 130, 161); float: left; text-align: center; width: 25%; }
.exper-sec li i { display: block; font-size: 18px; font-style: normal; font-weight: 300; margin: 10px 0 0; }
.exper-sec center { font-size: 65px; font-weight: bold; line-height: normal; }
.exper-sec center em { font-style: normal; font-weight: 200; }
.our-soft-tech-sec { background-color: rgb(10, 18, 32); padding: 40px 0 80px; }
.our-soft-tech-sec li { background-color: rgb(54, 173, 102); border-bottom: 1px solid rgb(54, 173, 102); margin: 0 10px 15px; width: calc(33.3333% - 20px); }
.our-soft-tech-sec li.active a, .our-soft-tech-sec li:hover a { background-color: rgb(35, 46, 67) !important; border: 0 none !important; }
.our-soft-tech-sec li a {
  border: 0 none;
  border-radius: 0;
  margin: 0;
  padding: 10px 0 0;
  transition: all 0.2s ease 0s;
}
.div-pre-se > i { color: rgb(255, 255, 255); display: block; font-size: 14px; font-style: normal; line-height: 14px; min-height: 40px; padding: 5px 0 0; text-align: center; }
.nav.nav-tabs.tab-des { border: 0 none; padding: 0; }
.act-tab-con { background-color: rgb(255, 255, 255); padding: 30px 40px; }
.act-tab-con > b { color: rgb(10, 18, 32); display: block; font-size: 30px; font-weight: 300; padding: 20px 0 10px; text-align: center; }
.act-tab-con > p { font-size: 16px; font-weight: 300; line-height: 27px; text-align: justify; }
.our-soft-tech-sec h5.head-sec, .our-soft-tech-sec .hea-sec p { color: rgb(255, 255, 255); }
.our-soft-tech-sec .hea-sec p { padding-bottom: 40px; }
.clients-sec { background-color: rgb(255, 217, 102); padding: 80px 0 0; }
.clients-sec h5.head-sec { font-size: 50px; padding-bottom: 60px; }
.clien-log-si { background-color: rgb(210, 182, 98); margin: 0 5px; text-align: center; }
.clien-log-si center { height: 85px; position: relative; }
.clien-log-si center img { bottom: 0; left: 0; margin: auto; position: absolute; right: 0; top: 0; }
.clien-log-si b { display: block; font-size: 13px; font-weight: 500; line-height: 17px; min-height: 40px; }
.lets-asksec > i { color: rgb(35, 46, 67); display: inline-block; font-size: 180px; font-style: normal; font-weight: bold; line-height: 128px; text-transform: uppercase; vertical-align: bottom; }
.lets-asksec { padding: 140px 0 0; }
.query-form-sec { background-color: rgb(35, 46, 67); padding: 60px 0; }
.query-form-sec .hea-sec { color: rgb(255, 255, 255); text-align: center; }
.query-form-sec h5.head-sec { color: #fff; }
.query-form-sec .hea-sec > em { font-size: 37px; font-style: normal; font-weight: 200; line-height: normal; }
.query-form-sec h5.head-sec { color: rgb(54, 173, 102); font-size: 52px; line-height: 60px; padding-bottom: 10px; }
.query-form-sec .hea-sec > p { line-height: 12px; margin: 50px 0 0; padding-bottom: 10px; }
.query-form-sec .hea-sec > p img { transform: translateY(-25px); }
.inq-form { background-color: rgb(255, 255, 255); padding: 40px; }
.inp-sec input { border: 0 none; color: rgb(22, 23, 23); font-size: 22px; font-weight: 200; width: 100%; }
.inp-sec select { background-image: url("../images/down-ar.png"); background-position: calc(100% - 20px) center; background-repeat: no-repeat; border: 0 none; color: rgb(22, 23, 23); font-size: 22px; font-weight: 200; width: 100%; }
.inp-sec { border-bottom: 1px solid rgb(35, 46, 67); margin: 15px 0; padding: 10px 0 10px 50px; position: relative; }
.inp-sec img { bottom: 0; left: 0; margin: auto; position: absolute; top: 0; }
.inp-sec select { -webkit-appearance: none; -moz-appearance: none; appearance: none; }
::placeholder {
 color: rgb(22, 23, 23);
 opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: rgb(22, 23, 23);
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: rgb(22, 23, 23);
}
.query-form-sec button:hover{ color:#333;}
.query-form-sec button {
  background-color: rgb(54, 173, 102);
  border: 0 none;
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 43px;
  font-weight: 200;
  margin: 40px 0 0;
  padding: 15px 30px;
  text-transform: uppercase;
  transition: all 0.2s ease 0s;
}
.dis-cent { text-align: center; }
footer { background-color: rgb(10, 18, 32); min-height: 480px; padding: 40px 0; }
.fo-cont > li { color: rgb(71, 89, 122); font-size: 16px; font-weight: 200; margin: 0 0 15px; }
.soci-fot { text-align: center; }
.soci-fot > a { display: inline-block; margin: 0 5px; }
.fot-adres a { color: #36ad66; }
.fot-adres { color: rgb(58, 74, 103); font-size: 17px; font-weight: 200; line-height: 30px; text-align: right; }
.fo-cont > li img { margin: 0 13px 0 0; }
.lets-asksec { text-align: center;}


#back2Top {
  bottom: 50px;
  color: rgb(85, 85, 85);
  cursor: pointer;
  display: none;
  font-size: 30px;
  line-height: 40px;
  overflow: hidden;
  position: fixed;
  right: 15px;
  text-align: center;
  text-decoration: none;
  width: 45px;
  z-index: 999;
}
#back2Top:hover { 
    color: #000;
}
