@import "../../styles/variables.less";
@green-color: #8dec1e;
@red-color: #f5675d;
ul.bullet-dot {
  /* list-style-type: armenian; */
  list-style: none;
}
ul.bullet-dot li:before {
  content: "• ";
}
.pstylish {
  margin: 0 0 15px 0;
  word-spacing: 2px;
  line-height: 25px;
}
.f-fr {
  float: right;
}
.f-fl {
  float: left;
}
.hyperlink-color {
  /* color: #0a2d42; */
  /* color:rgba(8, 45, 62, 0.90); */
  color: @red-color;
}
.hyperlink-color:hover {
  color: @red-color;
  text-decoration: underline;
}
a:hover {
  cursor: pointer;
}
table.cell-center td,
table.cell-center th {
  text-align: center;
  vertical-align: middle;
}
.cus-pl-1p {
  padding-left: 1px;
}
.cus-pr-1p {
  padding-right: 1px;
}
.ant-menu-horizontal .ant-menu-submenu a {
  color: @white-color;
}
.ant-menu-horizontal .ant-menu-submenu {
  color: @white-color;
}
.ant-menu-horizontal .ant-menu-submenu a:hover,
.ant-menu-item a:hover {
  color: @secondary-color;
}
.background-primary {
  background-color: @primary-color;
}
div.anim-greater {
  color: #87f328;
  font-weight: 700;
}
div.anim-lesser {
  color: #dc1d47;
  font-weight: 700;
}
div.content-only {
  display: inline-block;
}
.gx-mt-6 {
  margin-top: 6rem !important;
}
.ant-table td {
  word-wrap: break-word;
}
.ant-table-scroll {
  overflow-x: auto;
}
.white-txt {
  color: @white-color;
  padding: 20px 0;
}
.green-txt {
  color: @green-color;
  padding: 20px 0;
}
.red-txt {
  color: @red-color;
  padding: 20px 0;
}
.full-width-controls .ant-form-item-control-wrapper {
  width: 100%;
}
.large-size-form input,
.large-size-form button {
  font-size: 17px !important;
}
.align-middle {
  display: flex;
  align-items: center;
}
.black-overlay {
  background-color: rgba(0, 0, 0, 0.65);
}
.w-fill-available {
  display: block;
  width: 100%;
}
a.no-decor {
  color: @text-color;
}
a.no-decor:hover {
  color: @primary-color;
  text-decoration: none;
}
.identity .attachments .doc-type {
  background-color: aliceblue;
  cursor: pointer;
}
.identity .attachments .doc-type:hover {
  transform: scale(1.2);
  z-index: 9999;
}
.attachments .ant-upload-list-picture-card .ant-upload-list-item {
  height: unset !important;
  width: unset !important;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.76562rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}


//NEW STYLES ADDED BY SHOAIB

//TYPOGRAPHY

.heading-huge {
  font-size: 55px;
}

.heading-big {
  font-size: 40px;
}

.heading-medium {
  font-size: 30px;
}

.list-big {
  font-size: 25px;
}

.text-medium {
  font-size: 20px;
}
/////////////////////////////////////////////////////////////////////////////////

.gx-language {
  transform: translateY(6px);
}

.gx-notify {
  margin-left: 30px;
}

.gx-login-signup {
  color: @primary-color;   

  &:hover {
    color: @secondary-color;
  }
}

.gx-login-login-btn {
transform: translateY(3px);
}

.gx-header {
  font-size: 40px;
  padding-right: 15px;
  text-align: center;

  .bit-text {
      color: orangered;
  }

  .rocket {
      transform: translateY(-5px);
  }

  &:hover {
      .rocket {
          transition: 3s ease-in;
          animation: bouncingRocket 2s infinite;
      }
  }
}

.gx-login-list {
  .signup-btn {
    button {
        background-color: @primary-color;
        border-color: @primary-color;
    }
 }
  & li {
     
    a {
            color: @white-color;
            font-size: @font-size-lg;
        }

        a:hover {
            color: @secondary-color;
            transition: .2s;
        }
  }
}


@keyframes bouncingRocket {
  0% {
    transform: translate3d(0px, 0px, 0);
  }

  50% {
    transform: translate3d(0px, -10px, 0);
  }

  100% {
    transform: translate3d(0px, 0px, 0);
  }
}

@keyframes movingRocket {

  0%,
  100% {
    transform: translate3d(0px, 0px, 0) rotate(90deg);
  }

  50% {
    transform: translate3d(-10px, 0px, 0) rotate(90deg);
  }
}

//////////////////ANIMISTA CLASSES/////////////////////

.fade-in-bottom {
  animation: fade-in-bottom .6s cubic-bezier(.39, .575, .565, 1.000) both;
  animation-delay: 2s;
}

.slide-in-right {
  animation: slide-in-right .5s cubic-bezier(.25, .46, .45, .94) both
}

.slide-in-left {
  animation: slide-in-left .5s cubic-bezier(.25, .46, .45, .94) both
}

.slide-in-fwd-center {
  animation: slide-in-fwd-center .4s cubic-bezier(.25, .46, .45, .94) both
}

.scale-in-center {
  -webkit-animation: scale-in-center .5s cubic-bezier(.25, .46, .45, .94) both;
  animation: scale-in-center .5s cubic-bezier(.25, .46, .45, .94) both
}

//////////////////ANIMISTA ANIMATIONS///////////////////
@keyframes fade-in-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes shake-horizontal {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60% {
    transform: translateX(10px);
  }

  80% {
    transform: translateX(8px);
  }

  90% {
    transform: translateX(-8px);
  }
}

@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1
  }

  100% {
    transform: scale(1);
    opacity: 1
  }
}