<!-- Header Start -->
<header>
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span> <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="assets/images/logo.png" alt="Bit"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <ng-container *ngFor="let l of routerLinks;let i = index;">
                        <li *ngIf="(l.requrieLogin && globals.isLoggedIn) || !l.requrieLogin" 
                        [class]="l.class" (click)="navItemClicked(i)">
                            <a *ngIf="l.children.length > 0; else noChildren" [href]="l.routerLink" class="dropdown-toggle"
                                data-toggle="dropdown">
                                <span><img [src]="l.icon" [alt]="l.alt"></span>
                                <span>{{l.text}} <i class="fa fa-angle-down" aria-hidden="true"></i></span>
                            </a>
                            <ul *ngIf="l.children.length > 0" class="dropdown-menu">
                                <li *ngFor="let c of l.children;" (click)="navChildClicked(i)">
                                    <a [routerLink]="c.routerLink" [innerHTML]="c.text"></a>
                                </li>
                            </ul>
                            <ng-template #noChildren>
                                <a *ngIf="l.routerLink != null; else ahref" [routerLink]="l.routerLink">
                                    <span><img width="40" height="34" [src]="l.icon" [alt]="l.alt"></span>
                                    <span [innerHTML]="l.text"></span>
                                </a>
                                <ng-template #ahref>
                                    <a [href]="l.href">
                                        <span><img width="40" height="34" [src]="l.icon" [alt]="l.alt"></span>
                                        <span [innerHTML]="l.text"></span>
                                    </a>
                                </ng-template>
                            </ng-template>
                        </li>
                    </ng-container>
                </ul>
                <ul class="nav navbar-nav navbar-right signup-header">
                    <!-- <li class="lang dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            English <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a [routerLink]="constants.RoutePaths.Home">Eng</a></li>
                            <li><a [routerLink]="constants.RoutePaths.Home">Hindi</a></li>
                        </ul>
                    </li> -->
                    <li *ngIf="!globals.isLoggedIn" (click)="navItemClicked(-1)">
                        <a [routerLink]="constants.RoutePaths.SignUp">
                            <img src="assets/images/lock-icon.png" alt="lang.SignUp">
                            {{lang.SignUp}}</a>
                    </li>
                    <li *ngIf="!globals.isLoggedIn" (click)="navItemClicked(-1)">
                        <a [routerLink]="constants.RoutePaths.Login"><img src="assets/images/sign-icon.png" alt="lang.Login">
                            {{lang.Login}}</a>
                    </li>
                    <li *ngIf="globals.isLoggedIn" class="dropdown ">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-user"></i>
                            {{globals.username}}
                            <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu right-to-left">
                            <li><a [innerHTML]="lang.Logout" (click)="logout()"></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>