<!-- Header Start -->
<header>
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span> <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="assets/images/logo.png" alt="Bit"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a [routerLink]="constants.RoutePaths.Home">
                            <span><img src="assets/images/home-icon.png" alt="lang.Home"></span>
                            <span [innerHTML]="lang.Home"></span>
                        </a>
                    </li>
                    <li>
                        <a [href]="'/' + constants.RoutePaths.Consulting">
                            <span><img width="40" height="34" src="assets/images/consult.png" alt="lang.Consulting"></span>
                            <span [innerHTML]="lang.Consulting"></span>
                        </a>
                    </li>
                    <li *ngIf="globals.isLoggedIn">
                        <a [routerLink]="constants.RoutePaths.Trade">
                            <span><img src="assets/images/exchange-icon.png" alt="lang.Trade"></span>
                            <span [innerHTML]="lang.Trade"></span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span><img src="assets/images/exchange-icon.png" alt="Blockchain"></span>
                            <span>{{lang.Blockchain}} <i class="fa fa-angle-down" aria-hidden="true"></i></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a [routerLink]="constants.RoutePaths.Home" [innerHTML]="lang.Travel"></a></li>
                            <li><a [routerLink]="constants.RoutePaths.Home" [innerHTML]="lang.RealEstate"></a></li>
                        </ul>
                    </li>
                    <li>
                        <a [routerLink]="constants.RoutePaths.Home">
                            <span><img src="assets/images/seller-icon.png" alt="Charts"></span> <span [innerHTML]="lang.Charts"></span>
                        </a>
                    </li>
                    <li *ngIf="globals.isLoggedIn" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span><img src="assets/images/wallet-icon1.png" alt="Wallet"></span>
                            <span>{{lang.Wallet}} <i class="fa fa-angle-down" aria-hidden="true"></i></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a [routerLink]="constants.RoutePaths.Home">Eng</a></li>
                            <li><a [routerLink]="constants.RoutePaths.Home">Hindi</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span><img src="assets/images/faq-icon.png" alt="Help"></span>
                            <span>{{lang.Help}} <i class="fa fa-angle-down" aria-hidden="true"></i></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a [routerLink]="constants.RoutePaths.Home" [innerHTML]="lang.FAQ"></a></li>
                            <li><a [routerLink]="constants.RoutePaths.Home" [innerHTML]="lang.AboutUs"></a></li>
                            <li><a [routerLink]="constants.RoutePaths.ContactUs" [innerHTML]="lang.ContactUs"></a></li>
                        </ul>
                    </li>
                    <!-- <li>
                        <a [routerLink]="constants.RoutePaths.Home">
                            <span><img src="assets/images/user-icon.png" alt="About us"></span> <span>About us</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="constants.RoutePaths.Home">
                            <span><img src="assets/images/faq-icon.png" alt="FAQ"></span> <span>FAQ</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/contactus">
                            <span><img src="assets/images/faq-icon.png" alt="FAQ"></span> <span>
                                Contact
                                Us
                            </span>
                        </a>
                    </li> -->
                </ul>
                <ul class="nav navbar-nav navbar-right signup-header">
                    <!-- <li class="lang dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            English <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a [routerLink]="constants.RoutePaths.Home">Eng</a></li>
                            <li><a [routerLink]="constants.RoutePaths.Home">Hindi</a></li>
                        </ul>
                    </li> -->
                    <li *ngIf="!globals.isLoggedIn">
                        <a [routerLink]="constants.RoutePaths.SignUp">
                            <img src="assets/images/lock-icon.png" alt="lang.SignUp">
                            {{lang.SignUp}}</a>
                    </li>
                    <li *ngIf="!globals.isLoggedIn">
                        <a [routerLink]="constants.RoutePaths.Login"><img src="assets/images/sign-icon.png" alt="lang.Login">
                            {{lang.Login}}</a>
                    </li>
                    <li *ngIf="globals.isLoggedIn" class="dropdown ">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-user"></i>
                            {{globals.username}}
                            <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a [innerHTML]="lang.Logout" (click)="logout()"></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>