@media screen and (max-width:1400px) {
header .navbar-nav > li > a {
	font-size: 16px;
	padding: 30px 18px;
}
header .signup-header.navbar-nav > li > a {
	font-size: 16px;
	padding: 12px 15px;
}
}

@media screen and (max-width:1100px) {
	header .navbar-nav > li > a {
	color: #fff;
	font-size: 15px;
	font-weight: 500;
	border-bottom: 3px solid #072636;
	padding: 20px 22px;
}
.navbar-brand > img {
	width: 200px;
}	
	header .signup-header.navbar-nav > li > a {
	font-size: 12px;
	padding: 12px 5px;
	margin-left: 7px;
}header .signup-header.navbar-nav {
	margin: 26px 0 0;
}
	
	}



@media screen and (max-width:1030px) {
.banner h1 {
	font-size: 24px;
	line-height: 40px;
}


.walletwrap .walletbox, .walletwrap .walletbox1 { margin-bottom: 15px; }

.servicewrap p {
	padding-bottom: 30px;
	min-height: 190px;
}
.howitwork {
	padding: 120px 0 40px;
}
.howitwork .arrow-how {
	top: -60px;
	right: -70px;
	width: 140px;
}
.howbox h3 {
	font-size: 17px;
	line-height: 28px;
}header .navbar-nav > li > a {
	color: #fff;
	font-size: 12px;
	padding: 15px 10px;
}.last_price {
	width: 14%;
	font-size: 11px;
}.last_price strong {
	font-size: 12px;
}.last_price.brdroup ul li a {
	font-size: 14px;
}.trading-box a {
	font-size: 22px;
}#eur-tab.tab-pane {
	width: 760px;
	overflow-x: scroll;
	max-width: 100%;
}.navbar-brand > img {
	width: 190px;
}

}
@media (max-width: 991px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
.navbar-brand > img { width: 150px; }
.navbar-toggle { border: 1px solid #fff; margin-top: 30px; }
.navbar-toggle .icon-bar { background: #fff; }
.navbar-collapse.in { overflow-y: auto; position: absolute; background: #062737; width: 100%; z-index: 9999; }

}
@media screen and (max-width:767px) {
.banner h1 { font-size: 18px; line-height: 35px; margin-bottom: 15px; }
.buysellwrap { margin: 25px 0 0; }
.bannerb { padding: 15px 0px; }
.buy-txt a { width: 160px; }
.sell-txt a { width: 160px; }
.von-form h4 { font-size: 15px; }
.von-left { width: calc(100% - 120px); }
.von-left .form-control { font-size: 24px; }
.von-right { width: 120px; }
.walletwrap .walletbox, .walletwrap .walletbox1 { margin-bottom: 15px; }
.servicewrap { padding: 35px 0 15px; }
.servicewrap h2 { font-size: 17px; }
.servicewrap p { font-size: 15px; line-height: 26px; padding-bottom: 20px; min-height:auto;}
.tradingwrap .nav-tabs > li:first-child img { width: 41px; }
.tradingwrap .nav-tabs > li { position: relative; }
.tradingwrap .nav-tabs > li a { font-size: 14px; padding: 8px 15px; margin-right: 5px; }
.tradingwrap .nav > li > a > img { max-width: none; width: 21px; }
.tradingwrap .tab-content > .tab-pane { width: 100%; overflow: hidden; }
.tradingwrap .table-responsive { border: 0px; width: 1170px; }
.trackratewrap { padding: 20px 0; }
.trackratewrap .nav-tabs > li { margin: 0 5px; }
.trackratewrap .nav-tabs > li a { font-size: 25px; }
.worldwrap { padding: 25px 0; }
.worldwrap h2 { font-size: 22px; padding-bottom: 15px; }
.world-txt { font-size: 18px; line-height: 32px; }
.worldwrap h3 { font-size: 22px; padding: 25px 0 10px; }
.worldwrap p { font-size: 15px; line-height: 24px; padding-bottom: 15px; min-height: auto; }
.footer { padding: 15px 0; }
.footer h2 { font-size: 20px; margin: 10px 0; }
.footer ul { margin-bottom: 25px; }
.footer li a { font-size: 16px; padding: 8px 0; }
.copyright { padding: 15px 0; font-size: 14px; }
.howitwork  { padding:40px 0 20px;}
.howitwork .arrow-how{ display:none;}
.howbox {
	margin-bottom: 70px;
}.last_price {
	width: 43%;
}.tradingwrap .nav-tabs > li a {
	font-size: 13px;
	padding: 8px 10px;
}
.nav.nav-tabs.openorder li a {
	font-size: 13px;
	padding: 8px 10px;
}.tradingwrap {
	width: 100%;
	padding: 15px 0;
}#found {
	width: 600px;
	overflow-x: scroll;
	max-width: 100%;
}.nav.nav-tabs.openorder li a {
	font-size: 10px;
	padding: 5px 3px;
}
.nav.nav-tabs.openorder li.active a {
	font-size: 10px;
}
.tradingwrap.dashboad .nav-tabs > li a {
	font-size: 13px;
}.tradingwrap.dashboad .nav-tabs > li.active > a {
	font-size: 13px;
}
}
