<div class="mainpage clearfix">
    <!-- Trading Start -->
    <section class="tradingwrap  dashboad clearfix">
        <div class=" col-md-12">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#deposit-tab">{{lang.Deposit}}</a></li>
                <li><a data-toggle="tab" href="#withdrawl-tab">{{lang.Withdrawl}}</a></li>
                <!-- <li><a data-toggle="tab" href="#eur-tab">Stop-Loss</a></li> -->
            </ul>
            <div class="tab-content">
                <div id="deposit-tab" class="tab-pane fade in active">
                    <funding-deposit></funding-deposit>
                </div>
                <div id="withdrawl-tab" class="tab-pane fade in">
                </div>
            </div>
        </div>
    </section>
</div>