<div id="wrapper">
    <div id="left" [@slideInLeft]="animateDiv ? 'in' : 'out'" class="row slideDiv inline-div"> <!-- (click)="animateDiv=!animateDiv" -->
        <p>Thank you for contacting us. We've received your message.
            <br>
            Our expert will be in touch with you within 3 working days</p>
    </div>
    <div id="right" [@slideOutRight]="animateDiv ? 'out' : 'in'">
        <form [formGroup]="contactUsForm">
            <div class="inq-form">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="inp-sec"> <img src="assets/images/input-1.png" alt="">
                            <input type="text" [placeholder]="lang.Name" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                <div *ngIf="f.name.errors.required" [innerHtml]="errors.nameRequried"></div>
                                <div *ngIf="f.name.errors.maxlength" [innerHtml]="errors.nameMaxLength"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="inp-sec"> <img src="assets/images/input-2.png" alt="">
                            <input type="text" [placeholder]="lang.Email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                            <!-- <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required" [innerHtml]="errors.nameRequried"></div>
                        <div *ngIf="f.email.errors.maxlength" [innerHtml]="errors.nameMaxLength"></div>
                    </div>
                    <div *ngIf="submitted && (invalidEmail || f.email.errors)" class="invalid-feedback">
                      <div *ngIf="!f.email.errors; else autoEmailInvalid" [innerHtml]="errors.emailInvalid"></div>
                      <ng-template #autoEmailInvalid>
                        <div *ngIf="f.email.errors.email" [innerHtml]="errors.emailInvalid"></div>
                      </ng-template>
                    </div> -->
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="inp-sec"> <img src="assets/images/input-3.png" alt="">
                            <input type="text" [placeholder]="lang.ContactNo" formControlName="contact_no" [ngClass]="{ 'is-invalid': submitted && f.contact_no.errors }">
                            <div *ngIf="submitted && f.contact_no.errors" class="invalid-feedback">
                                <div *ngIf="f.contact_no.errors.required" [innerHtml]="errors.contactNoRequired"></div>
                                <div *ngIf="f.contact_no.errors.maxlength" [innerHtml]="errors.contactNoMaxLength"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="inp-sec"> <img src="assets/images/input-4.png" alt="">
                            <select formControlName="interested_in" [ngClass]="{ 'is-invalid': submitted && f.interested_in.errors }">
                                <option *ngFor="let t of technologies;" [hidden]="technologies.indexOf(t) == 0" [value]="t">{{t}}</option>
                            </select>
                            <div *ngIf="submitted && f.interested_in.errors" class="invalid-feedback">
                                <div *ngIf="f.interested_in.errors.required" [innerHtml]="errors.interestedInRequired"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="inp-sec"> <img width="42" height="41" src="assets/images/clock-circular-outline.png"
                                alt="">
                            <select formControlName="duration" [ngClass]="{ 'is-invalid': submitted && f.duration.errors }">
                                <option *ngFor="let t of durations;" [hidden]="durations.indexOf(t) == 0" [value]="t">{{t}}</option>
                            </select>
                            <div *ngIf="submitted && f.duration.errors" class="invalid-feedback">
                                <div *ngIf="f.duration.errors.required"  [innerHtml]="errors.durationRequired"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="inp-sec"> <img src="assets/images/input-5.png" alt="">
                            <select formControlName="budget" data-placeholder="Budget" [ngClass]="{ 'is-invalid': submitted && f.budget.errors }">
                                <option *ngFor="let t of budgetArray;" [hidden]="budgetArray.indexOf(t) == 0" [value]="t">{{t}}</option>
                            </select>
                            <div *ngIf="submitted && f.budget.errors" class="invalid-feedback">
                                <div *ngIf="f.budget.errors.required" [innerHtml]="errors.budgetRequired"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="inp-sec"> <img src="assets/images/input-6.png" alt="">
                            <input type="text" [placeholder]="lang.SkypeId " formControlName="skype_id" [ngClass]="{ 'is-invalid': submitted && f.duration.errors }">
                            <div *ngIf="submitted && f.skype_id.errors" class="invalid-feedback">
                                <div *ngIf="f.skype_id.errors.required" [innerHtml]="errors.skypeIdRequired"></div>
                                <div *ngIf="f.skype_id.errors.maxlength" [innerHtml]="errors.skypeIdMaxLength"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <strong>
                            <div class="{{submitRequestResposneClass}} text-bold" *ngIf="showsubmitResponse"
                                [innerHtml]="submitResponseMessage"></div>
                        </strong>
                    </div>
                </div>
            </div>
            <div class="dis-cent">
                <button type="button" [disabled]="diableSubmitButton" (click)="onSubmit()">Contact Our Expert </button>
            </div>
        </form>
    </div>
</div>
<style>
    .slideDiv {
        background-color: rgb(54, 173, 102);
        font-size: 25px;
        font-weight: 200;
    }
</style>